<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	AsManage.vue
 *  Description:    윈너스 모바일 딜리버리 AS 관리 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung -- 
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <HeaderComp title="AS관리(해피콜)" />
      <div class="winus-content">
        <ManageItemList
          :driver_detail="driver_detail"
          v-if="driver_detail.length > 0"
        />
        <button class="tel" @click="callFunction">전화걸기</button>
        <div class="cancel-container">
          <button class="cancel" @click="cancelHandler">취소요청</button>
        </div>
        <div class="date-container">
          <input
            type="text"
            readonly
            @click="showCalendar"
            :value="selected_date"
          />

          <select
            name="as_selected_time"
            id="as_selected_time"
            v-model="as_selected_time"
          >
            <option
              v-for="select in SELECTED_TIME"
              :key="select.value"
              :name="select.value"
              :value="select.value"
            >
              {{ select.time }}
            </option>
          </select>

          <DatePicker
            v-if="isShowCalendar"
            :hideCalendar="hideCalendar"
            :selectDate="selectDate"
          />
        </div>

        <label for="view_memo">비고</label>
        <textarea
          type="text"
          name="view_memo"
          id="view_memo"
          readonly
        ></textarea>
        <label for="write_memo">메모 <strong>*</strong></label>
        <textarea
          type="text"
          name="write_memo"
          id="write_memo"
          v-model="memo_data"
          placeholder="메모를 작성해야 전송 버튼이 활성화 됩니다."
        ></textarea>
        <label for="view_bf_memo">해피콜 이력</label>
        <textarea
          type="text"
          name="view_bf_memo"
          id="view_bf_memo"
          v-model="happy_call_memo"
          readonly
        ></textarea>
      </div>
      <FooterBtn type="2btn" :sendingFunction="sendingFunction" />
      <AlertComp
        v-if="isShow"
        :message="errorMessage"
        :close-function="closeHandler"
      />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { IonContent, IonPage } from '@ionic/vue';
import { HttpParams } from '@capacitor/core';
import axios from 'axios';

import DatePicker from '@/components/DatePicker.vue';
import FooterBtn from '@/components/footer/FooterBtn.vue';
import HeaderComp from '@/components/header/HeaderComp.vue';
import ManageItemList from '@/components/common/manage/ManageItemList.vue';
import AlertComp from '@/components/ui/AlertComp.vue';
import { formattedFromDate } from '@/utils/formatted-date';

import {
  AS_DELIVERY_ORDER,
  AS_DELIVERY_MANAGE_DATA,
  AS_DELIVERY_NOT_SET_DRIVER,
  HOST_URL,
} from '@/constants';
import { SELECTED_TIME } from '@/constants';
import { DetailI } from '@/types';
import { getApi, postApi } from '@/utils/api-hook';


// Variable Definitions
const route = useRoute();
const router = useRouter();

const isShowCalendar = ref(false as boolean);
const selected_date = ref(formattedFromDate(new Date()) as string);
const driver_detail = ref([] as DetailI[]);
const as_selected_time = ref('0600' as string);
const memo_data = ref('' as string);
const call_phone = ref('' as string);
const isShow = ref(false as boolean);
const errorMessage = ref('' as string);
const happy_call_memo = ref('' as string);
// Framework Function Definitions
onMounted(() => {
  fetchData();
});

// User Function Definitions
const closeHandler = () => {
  isShow.value = false;

  if (
    errorMessage.value === '수정되었습니다.!!!' ||
    errorMessage.value === '일치하는 정보가 없습니다.!!!'
  ) {
    router.replace({ name: 'AsSearch' });
  }
};

const fetchData = async () => {
  const user_id = localStorage.getItem('id');
  const passwd = localStorage.getItem('passwd');
  const selected_loc_id = window.sessionStorage['LC_ID'];

  try {
    const url = window.history.state.back == '/as/date-change-manage' 
                  ? AS_DELIVERY_NOT_SET_DRIVER 
                  : AS_DELIVERY_ORDER

    const response = await getApi(url, {
      login_id: user_id,
      password: passwd,
      lc_id: selected_loc_id,
      ord_id: route.query.ord_id,
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (!response.data.DATA) {
      isShow.value = true;
      errorMessage.value = '일치하는 정보가 없습니다.!!!';
      return;
    }

    driver_detail.value = response.data.DATA;
    call_phone.value = response.data.DATA[0].phone2;
    happy_call_memo.value = response.data.DATA[0].happy_call_memo;
  } catch (err) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
    return;
  }
};

const showCalendar = () => {
  isShowCalendar.value = true;
};

const hideCalendar = () => {
  isShowCalendar.value = false;
};

const selectDate = (date: string) => {
  selected_date.value = date;
};

const callFunction = () => {
  window.location.href = 'tel:' + call_phone.value;
};

const cancelHandler = () => {
  router.push({
    name: 'ManageCancel',
    query: { ord_id: route.query.ord_id, page: 'as' },
  });
};

const sendingFunction = async () => {
  if (memo_data.value === '') {
    isShow.value = true;
    errorMessage.value = '메모를 작성해야합니다.';
    return;
  }

  const login_id = localStorage.getItem('id');
  const password = localStorage.getItem('passwd');
  const selectedDate = new Date(selected_date.value);
  const currentDate = new Date();

  if (selected_date.value !== formattedFromDate(new Date())) {
    if (selectedDate.getTime() < currentDate.getTime()) {
      isShow.value = true;
      errorMessage.value = '이전 날짜는 선택할 수 없습니다.';
      return;
    }
  }

  const send_data = [
    {
      date: selected_date.value,
      memo: memo_data.value,
      ord_id: route.query.ord_id,
      phone_no: call_phone.value,
      time_area: as_selected_time.value,
      user_id: login_id,
      version: window.sessionStorage['version'],
    },
  ];

  try {
    const response = await postApi(
     // HOST_URL + '/' + AS_DELIVERY_MANAGE_DATA,
     AS_DELIVERY_MANAGE_DATA,
      {
        login_id,
        password,
        work_list: send_data,
      },
      { 'Content-Type': 'application/json; charset=utf-8' }
    );

    if (response.data.SEND_DATA === 'SUCCESS') {
      isShow.value = true;
      errorMessage.value = '수정되었습니다.!!!';
    } else {
      isShow.value = true;
      errorMessage.value = '데이터 전송 실패 : ' + response.data.RETURN_MSG;
      return;
    }
  } catch (err: any) {
    isShow.value = true;
    errorMessage.value = err;
  }
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-content {
  padding: 5.375rem 1.25rem 0;
  margin-bottom: 5.094rem;
}

button {
  width: 100%;
  height: 2.813rem;
  background: #fff;
  margin-top: 0.625rem;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.059rem;
}

.tel {
  border: 1px solid #3d61e1;
  color: #3d61e1;
}

.cancel-container {
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #979797;
}
.cancel {
  border: 1px solid #f1424c;
  color: #f1424c;
  position: relative;
}

input {
  background: #fff;
}

textarea {
  width: 100%;
}

.date-container {
  margin-bottom: 1.188rem;
}

.date-container input {
  margin-right: 0.625rem;
}
.date-container select {
  background-color: #fff;
}

.date-container select,
.date-container input {
  width: calc(50% - 0.313rem);
  padding-left: 1rem;
  border-radius: 0.625rem;
  height: 3.125rem;
  letter-spacing: -0.059rem;
  border: 1px solid #a7a7a7;

  background-image: url(/public/assets/images/btn-selectbox-open.png);
  background-repeat: no-repeat;
  background-size: auto 1.688rem;
  background-position: calc(100% - 0.313rem) 50%;
}

label {
  font-size: 0.938rem;
  color: #181818;
  letter-spacing: -0.055rem;
  font-weight: bold;
}

strong {
  color: #f1424c;
}

textarea {
  height: 5.531rem;
  margin-top: 0.688rem;
  border-radius: 0.625rem;
  background: #fff;
  border: 1px solid #a7a7a7;
}

textarea::placeholder {
  padding-top: 1.031rem;
  padding-left: 0.75rem;
}
</style>
