<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	AsReqDateManage.vue
 *  Description:    윈너스 모바일 딜리버리 AS 배송예정일 지정 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
    <IonPage>
        <IonContent>
            <HeaderComp title="배송예정일 지정" />
            <div class="winus-content">
                <div class="input-area">
                    <label><strong>배송기사목록</strong></label>
                    <div style="display: inline-flex; width: 100%;">
                        <select
                            name="drv_search"
                            id="drv_search"
                            class="driver-list"
                            @change="changeDriver"
                            :value="driver_num"
                        >
                            <option
                            v-for="driver in driver_list"
                            :key="driver.driver_nm"
                            :value="driver.driver_phone"
                            >
                                {{ driver.driver_nm }}
                            </option>
                        </select>
                        <button id="delivery-search" @click="fetchDriver">조회</button>
                    </div>
                    <ReqDateItemList
                        v-if="driver_detail.length > 0"
                        :driver_detail="driver_detail"
                        @fetchDriver="fetchDriver"
                    />
                </div>
                <FooterBtn type="1btn" />
            </div>
            <AlertComp
                v-if="isShow"
                :message="errorMessage"
                :close-function="closeHandler"
            />
        </IonContent>
    </IonPage>

</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { IonContent, IonPage } from '@ionic/vue';
import axios from 'axios';

import HeaderComp from '@/components/header/HeaderComp.vue';
import FooterBtn from '@/components/footer/FooterBtn.vue';
import AlertComp from '@/components/ui/AlertComp.vue';
import ReqDateItemList from '@/components/as/req_date_manage/ReqDateItemList.vue';

import { HttpParams } from '@capacitor/core';
import { DELIVERY_DRIVER_LIST,AS_DELIVERY_NOT_SET_DRIVER, LOCAL_URL, HOST_URL } from '@/constants';
import { DriverListI } from '@/types';
import { getApi } from '@/utils/api-hook';
import { DetailI } from '@/types';
import { useRoute } from 'vue-router';

// Variable Definitions
const route = useRoute();

const driver_detail = ref([] as DetailI[]);
const driver_list = ref([] as DriverListI[]);
const driver_num = ref('' as string);

const isShow = ref(false as boolean);
const errorMessage = ref('' as string);

const user_id = localStorage.getItem('id');
const passwd = localStorage.getItem('passwd');
const phone = localStorage.getItem('phone');
const selected_loc_id = window.sessionStorage['LC_ID'];

// Framework Function Definitions
onMounted(() => {
    fetchDriverList();
});

// User Function Definitions
const closeHandler = () => {
    isShow.value = false;
};

const fetchDriver = async () => {
    if (driver_num.value === '') await fetchDriverList();
    else await fetchDriverDetail(driver_num.value);
};

const fetchDriverList = async () => {
    try {
    const response = await getApi(DELIVERY_DRIVER_LIST, {
        login_id: user_id,
        password: passwd,
        lc_id: selected_loc_id
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    driver_list.value = response.data.DATA;

    const phone_num = response.data.DATA.find(
        (driver: DriverListI) => driver.driver_phone === phone
    )?.driver_phone;

    if (driver_num.value.trim() === '') {
        if (!phone_num) {
            driver_num.value = driver_list.value[0].driver_phone;
            fetchDriverDetail(driver_list.value[0].driver_phone);
            return;
        } else {
            driver_num.value = phone_num;
            fetchDriverDetail(phone_num);
            return;
        }
    } else {
        fetchDriverDetail(driver_num.value);
    }
    } catch (err) {
        console.log('err = ', err)
        isShow.value = true;
        errorMessage.value = "프로그램에 오류가 발생하였습니다.";
        return;
    }
};

const changeDriver = async (e: Event) => {
    const target = e.target as HTMLSelectElement;

    driver_num.value = target.value;

    fetchDriverDetail(driver_num.value);

};

const fetchDriverDetail = async (phone_no: string) => {
    try {
    const response = await getApi(AS_DELIVERY_NOT_SET_DRIVER, {
      login_id: user_id,
      password: passwd,
      lc_id: selected_loc_id,
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (!response.data.DATA) {
        isShow.value = true;
        errorMessage.value = '일치하는 정보가 없습니다.!!!';
        driver_detail.value = [];
        return;
    }

    driver_detail.value = response.data.DATA;

    } catch (err) {
        console.log('err = ', err)
        isShow.value = true;
        errorMessage.value = "프로그램에 오류가 발생하였습니다.";
    }
};

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
    .winus-content {
        padding: 5.375rem 1.25rem 0;
        margin-bottom: 5.094rem;
    }

    .input-area {
        position: relative;
    }

    .input-area label {
        display: block;
        color: #181818;
        margin-bottom: 0.688rem;
        font-size: 0.938rem;
        margin-top: 1.141rem;
        font-weight: bold;
    }


    #delivery-search {
        width: 25%;
        height: 3.125rem;
        background-color: #080d2c;
        color: #fff;
        border-radius: 0.625rem;
    }

    #drv_search {
        display: block;
        width: 100%;
        height: 3.125rem;
        border-radius: 0.313rem;
        color: #181818;
        letter-spacing: -0.059rem;
        font-size: 1rem;
        border: 1px solid #a7a7a7;
        background: #fff;
        padding-left: 0.75rem;
        margin-right: 0.75rem;

        background-image: url(/public/assets/images/btn-selectbox-open.png);
        background-repeat: no-repeat;
        background-size: auto 1.688rem;
        background-position: calc(100% - 0.313rem) 50%;
    }
</style>