<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DlvAsItemDetailInfoSearch.vue
 *  Description:    윈너스 모바일 딜리버리 배송상품정보조회 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <HeaderComp title="배송상품정보조회" type="small" />
      <div class="winus-content page-order">
        <BarcodeComp :read_only="true" :serial_no="ord_id" @serial_no="ord_id=$event" />
        <DetailItemList :search_qry="search_qry" />
      </div>
      <FooterBtn type="1btn" />
      <AlertComp
        v-if="isShow"
        :message="errorMessage"
        :close-function="closeHandler"
      />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { IonContent, IonPage } from '@ionic/vue';
import { useRoute, useRouter } from 'vue-router';
import { HttpParams } from '@capacitor/core';
import axios from 'axios';

import FooterBtn from '@/components/footer/FooterBtn.vue';
import HeaderComp from '@/components/header/HeaderComp.vue';
import DetailItemList from '@/components/common/info_search/DetailItemList.vue';
import AlertComp from '@/components/ui/AlertComp.vue';
import BarcodeComp from '@/components/ui/BarcodeComp.vue';

import { SearchQryI } from '@/types';
import { getApi } from '@/utils/api-hook';
import { ASP_SEARCH_QRY } from '@/constants';

// Variable Definitions
const route = useRoute();
const router = useRouter();

const search_qry = ref([] as SearchQryI[]);
const barcode_value = ref('' as string);
const isShow = ref(false as boolean);
const errorMessage = ref('' as string);
const ord_id = ref(route.query.ord_id as string);

const user_id = localStorage.getItem('id');
const passwd = localStorage.getItem('passwd');

// Framework Function Definitions
onMounted(() => {
  fetchAspSearchQry();
});

// User Function Definitions
const closeHandler = () => {
  isShow.value = false;

  if (
    errorMessage.value === '일치하는 정보가 없습니다.!!!' ||
    errorMessage.value === 'Error : 조회된 상품정보가 없습니다.!!!'
  )
    router.replace({ name: 'AsSearch' });
};

const fetchAspSearchQry = async () => {
  try {
    const response = await getApi(ASP_SEARCH_QRY, {
      login_id: user_id,
      password: passwd,
      lc_id: window.sessionStorage['LC_ID'],
      ord_id: route.query.ord_id,
      separator_cd: 'DLV_ITEM_INFO',
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (!response.data.DATA) {
      isShow.value = true;
      errorMessage.value = '일치하는 정보가 없습니다.!!!';
      return;
    }

    search_qry.value = response.data.DATA;

    if (search_qry.value[0].item_bar_cd)
      barcode_value.value = search_qry.value[0].item_bar_cd;
  } catch (err) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-content {
  padding: 5.375rem 1.25rem 0;
  margin-bottom: 5.094rem;
}

.barcode {
  margin-top: 1.594rem;
}

.barcode label {
  display: block;
  font-weight: bold;
  font-size: 0.938rem;
  letter-spacing: -0.055rem;
}

.barcode p {
  display: flex;
  align-items: center;
  margin-top: 0.688rem;
  justify-content: space-between;
}

.barcode input {
  background: #fff;
  width: 71%;
  height: 3.125rem;
  border-radius: 0.625rem;
  border: 1px solid #737373;
  padding-left: 0.75rem;
  letter-spacing: -0.059rem;
}

.barcode span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080d2c;
  width: 25%;
  height: 3.125rem;
  border-radius: 0.625rem;
}

.barcode img {
  width: 1.844rem;
}
</style>
