<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	AsSearch.vue
 *  Description:    윈너스 모바일 딜리버리 택배발송AS 조회 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <div data-role="page">
        <HeaderComp title="AS택배발송" />
        <div class="winus-content">
          <div class="input-area">
            <label><strong>AS택배발송요청일</strong></label>
          </div> 
            <div class="date-container">
              <div class="date-inner" @click="showCalendar">
                <input
                  type="text"
                  id="as_select_date"
                  readonly
                  :value="selected_date"
                />
                <img
                  src="/assets/images/btn-calendar.png"
                  alt="date-icon"
                  class="date-icon"
                />
              </div>
              <button id="delivery-search" @click="fetchDriverDetail">조회</button>
              <div class="date">
                <DatePicker
                  v-if="isShowCalendar"
                  id="date-picker"
                  :hideCalendar="hideCalendar"
                  :selectDate="selectDate"
                />
              </div>
            </div>         
          <RepairSearchItemList
            :driver_detail="driver_detail"
            v-if="driver_detail.length > 0"
          />
        </div>    
        <FooterBtn type="1btn" />
      </div>
      <AlertComp
        v-if="isShow"
        :message="errorMessage"
        :close-function="closeHandler"
      />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, watch, onMounted } from 'vue';
import { IonContent, IonPage } from '@ionic/vue';
import axios from 'axios';

import HeaderComp from '@/components/header/HeaderComp.vue';
import DatePicker from '@/components/DatePicker.vue';
import FooterBtn from '@/components/footer/FooterBtn.vue';
import AlertComp from '@/components/ui/AlertComp.vue';
import RepairSearchItemList from '@/components/as/search/RepairSearchItemList.vue';


import { AS_DELIVERY_DRIVER_LIST , AS_REPAIR_DRIVER_LIST } from '@/constants';
import { getApi } from '@/utils/api-hook';
import { HttpParams } from '@capacitor/core';
import { DetailI } from '@/types';
import { useRoute } from 'vue-router';
import { formattedFromDate } from '@/utils/formatted-date';

// Variable Definitions
const route = useRoute();

const driver_detail = ref([] as DetailI[]);
const selected_date = ref(formattedFromDate(new Date()) as string);
const isShow = ref(false as boolean);
const errorMessage = ref('' as string);
const isShowCalendar = ref(false as boolean);

const user_id = localStorage.getItem('id');
const passwd = localStorage.getItem('passwd');
const selected_loc_id = window.sessionStorage['LC_ID'];


// Framework Function Definitions
watch(
  () => route.path,
  (newV, _) => {
    if (newV === '/repair/search') fetchDriverDetail();
  }
);

onMounted(() => {
  fetchDriverDetail();
});


const fetchDriverDetail = async () => {
  try {
    const response = await getApi(AS_REPAIR_DRIVER_LIST, {
      login_id: user_id,
      password: passwd,
      lc_id: selected_loc_id,
      date: selected_date.value,
   //   ord_id: phone_no,
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (!response.data.DATA) {
      isShow.value = true;
      errorMessage.value = '일치하는 정보가 없습니다.!!!';
      return;
    }

    driver_detail.value = response.data.DATA;

  } catch (err: any) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
    return;
  }
};

const closeHandler = () => {
  isShow.value = false;
};


const showCalendar = () => {
  isShowCalendar.value = true;
};

const hideCalendar = () => {
  isShowCalendar.value = false;
};

const selectDate = (date: string) => {
  selected_date.value = date;
};

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-content {
  padding: 5.375rem 1.25rem 0;
  margin-bottom: 5.094rem;
}

.input-area {
  position: relative;
}

.input-area label {
  display: block;
  color: #181818;
  margin-bottom: 0.688rem;
  font-size: 0.938rem;
  margin-top: 1.141rem;
  font-weight: bold;
}

.date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date-container button {
  width: 25%;
}

.date-inner {
  position: relative;
  display: flex;
  width: 71%;
}

.date {
  position: absolute;
  top: 2.5rem;
  z-index: 1000;
  width: 100%;
}

#date-picker {
  position: absolute;
}

#as_select_date {
  background: #fff;
  width: 100%;
  display: block;
  height: 3.125rem;
  border-radius: 0.625rem;
  padding-left: 0.75rem;
  border: 1px solid #a7a7a7;
}

.date-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.813rem;
  width: 1.563rem;
}

#delivery-search {
  width: 25%;
  height: 3.125rem;
  background-color: #080d2c;
  color: #fff;
  border-radius: 0.625rem;

}


#drv_search {
  display: block;
  width: 100%;
  height: 3.125rem;
  border-radius: 0.313rem;
  color: #181818;
  letter-spacing: -0.059rem;
  font-size: 1rem;
  border: 1px solid #a7a7a7;
  background: #fff;
  padding-left: 0.75rem;

  background-image: url(/public/assets/images/btn-selectbox-open.png);
  background-repeat: no-repeat;
  background-size: auto 1.688rem;
  background-position: calc(100% - 0.313rem) 50%;
}

hr {
  margin-top: 1.563rem;
  background: #979797;
  height: 0.034rem;
}

</style>
