<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	AsCompHdSerial.vue
 *  Description:    윈너스 모바일 딜리버리 AS∂완료(H/E 시리얼) 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <div v-if="!scanning">
        <HeaderComp title="AS택배발송완료" />
        <div class="winus-content">
          <RequestDelivery :selected_date="selected_date" />
          <RepairElecItemList
            v-if="driver_detail.length > 0"
            :driver_detail="driver_detail"
          />
          <div class="option">
            <div class="option-head">
              <span>No.</span>
              <span>상품명</span>
              <span>수량</span>
              <span>AS상태</span>
            </div>
            <ul>
              <li v-for="(data, index) in asp_order_detail" :key="index">
                <span>{{ index + 1 }}</span>
                <span>{{ data.product_nm }}</span>
                <span>{{ data.qty }}</span>
                <span>{{ data.work_stat }}</span>
              </li>
            </ul>
          </div>

          <div class="serial">
            <label>송장번호 스캔</label>
            <p>
              <input
                type="text"
                id="serial_no"
                name="serial_no"
                ref="serial_no_ref"
                v-model="serial_no"
              />
              <span>
                <img
                  src="/assets/images/btn-barcode.png"
                  id="scan_barcode"
                  @click="barcodeScan"
                />
              </span>
            </p>
          </div>
          <SelectComp
            title="택배사"
            :select-array="setArray"
            v-model:set-value="set_type"
          />
          <OptionCameraComp
            :image-element="imageElement"
            :take-picture="takePicture"
            title="송장"
          />
        </div>
        <FooterBtn
          :sending-function="sendingFunction"
          :saved-function="savedFunction"
        />
      </div>
      <div v-else class="cancel">
        <button @click="stopBarcodeScan">CANCEL</button>
      </div>

      <AlertComp
        v-if="isShow"
        :message="errorMessage"
        :close-function="closeHandler"
        :alert-type="alertType"
        :confirm-function="confirmHandler"
      />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, ref, Ref } from 'vue';
import {
  IonContent,
  IonPage,
  useBackButton,
} from '@ionic/vue';

import { useRoute, useRouter } from 'vue-router';
import { HttpParams } from '@capacitor/core';
import { Camera, CameraResultType } from '@capacitor/camera';
import { BarcodeScanner } from '@capacitor-community/barcode-scanner';
import SignaturePad from 'signature_pad';
import axios from 'axios';
import { v4 } from 'uuid';

import RepairElecItemList from '@/components/as/elec_serial/RepairElecItemList.vue';
import FooterBtn from '@/components/footer/FooterBtn.vue';
import HeaderComp from '@/components/header/HeaderComp.vue';
import RequestDelivery from '@/components/ui/RequestDelivery.vue';
import OptionCameraComp from '@/components/delivery/elec_serial/OptionCameraComp.vue';
import AlertComp from '@/components/ui/AlertComp.vue';
import SelectComp from '@/components/ui/SelectComp.vue';
import {
  PROXY_URL,
  HOST_URL,
  AS_REPAIR_ORDER_QRY,
  ASP_SEND_REQ_ELEC_SERIAL,
  AS_REPAIR_DETAIL_LIST,
} from '@/constants';

import { DetailI, SerialListI } from '@/types';
import { formattedDate } from '@/utils/formatted-date';
import { getApi, postApi } from '@/utils/api-hook';
import { elecSerialCameraArr } from '@/constants';
import { PICTURE_QUALITY } from '@/constants';

// Variable Definitions
const route = useRoute();
const router = useRouter();

const ord_number = ref('' as string);
const driver_detail = ref([] as DetailI[]);
const asp_order_detail = ref([] as DetailI[]);
const imageElement = ref([] as string[] | []);
const selected_date = ref('' as string);
const memo = ref('' as string);
const dev_part = ref('' as string);
const com_cost = ref('' as string);
const set_type = ref('' as string);
const cost_type = ref('C' as string);
const dlv_ord_type = ref([] as string[]);
const signaturePad = ref(null as null | SignaturePad);
const camera = ref(elecSerialCameraArr as string[]);
const scanning = ref(false as boolean);
const serial_no = ref('' as string);
const isShow = ref(false as boolean);
const errorMessage = ref('' as string);
const alertType = ref('' as string);
const serial_no_ref: Ref<HTMLInputElement | null> = ref(null);

const passwd = localStorage.getItem('passwd');
const user_id = localStorage.getItem('id');
const selected_loc_id = window.sessionStorage['LC_ID'];
const setArray = [
  { value: '01', title: 'GS편의점 택배' },
  { value: '02', title: '일반택배' },
];


let v_cust_cd = '';
let v_org_ord_id = '';
let v_customer_nm = '';
let ord_type_val = '';

// Framework Function Definitions
onMounted(() => {
  fetchOrderDetail();
});


// User Function Definitions
const closeHandler = () => {
  isShow.value = false;

 // if (errorMessage.value === '바코드를 인식해주세요.!!!') {
 //   serial_no_ref.value?.focus();
 // }

  if (
    errorMessage.value === '데이터 전송 성공' ||
    errorMessage.value === '일치하는 정보가 없습니다.!!!'
  ) {
    router.replace({ name: 'RepairSearch' });
  }
};

const fetchAspOrder = async () => {
  try {
    const response = await getApi(AS_REPAIR_DETAIL_LIST, {
      login_id: user_id,
      password: passwd,
      lc_id: selected_loc_id,
      ord_id: route.query.ord_id,
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }
    if (!response.data.DATA) {
      isShow.value = true;
      errorMessage.value = '일치하는 정보가 없습니다.!!!';
      return;
    }

    asp_order_detail.value = response.data.DATA;
    dlv_ord_type.value = new Array(asp_order_detail.value.length).fill('98'); 

    v_cust_cd = response.data.DATA[0].dlv_etc3;
    v_org_ord_id = response.data.DATA[0].ord_id;
    v_customer_nm = response.data.DATA[0].customer_nm;
    ord_type_val = response.data.DATA[0].dlv_etc2;
  } catch (err) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};

const fetchOrderDetail = async () => {
  ord_number.value = route.query.ord_id as string;

  try {
    const response = await getApi(AS_REPAIR_ORDER_QRY, {
      login_id: user_id,
      password: passwd,
      lc_id: selected_loc_id,
      ord_id: route.query.ord_id,
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (!response.data.DATA) {
      isShow.value = true;
      errorMessage.value = '일치하는 정보가 없습니다.!!!';
      return;
    }

    driver_detail.value = response.data.DATA;
    selected_date.value = formattedDate(response.data.DATA[0].req_dt);

    window.sessionStorage['DLV_SRH_YN'] = 'Y';

    fetchAspOrder();
  } catch (err) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};

const takePicture = async (id: number) => {
  const image = await Camera.getPhoto({
    quality: PICTURE_QUALITY,
    resultType: CameraResultType.DataUrl,
    promptLabelPhoto: '앨범에서 선택',
    promptLabelPicture: '사진찍기',
  });

  const imageUrl = image.dataUrl;
  
  if (imageUrl) imageElement.value[id] = imageUrl;
};

const sendingFunction = async () => {

  if (serial_no.value === '') {
    isShow.value = true;
    alertType.value = '';
    errorMessage.value = '송장바코드 스캔 또는 입력해주세요';
    return;
  }else if (set_type.value === ''){
    isShow.value = true;
    alertType.value = '';
    errorMessage.value = '택배사를 선택해주세요';
    return;
  }

  isShow.value = true;
  alertType.value = 'confirm';
  errorMessage.value = 'AS택배발송완료입니다. 전송하시겠습니까?';
};

const confirmHandler = async () => {
 /* const signData = signaturePad.value
    ?.toDataURL('image/jpeg', 1.0)
    .split('base64,')[1];
  */
  const dlv_month = new Date().getMonth() + 1;
  const customer_filt = v_customer_nm.indexOf('(');

  if (customer_filt > 1) {
    v_customer_nm = v_customer_nm.substring(0, customer_filt);
  }

  let formData = {} as any;
  let cnt = 0 ; 

  for (let index = 9; index < 12; index++) {
    if (
      typeof imageElement.value[index] !== 'undefined' &&
      imageElement.value[index] !== null
    ) {
      formData['file' + index] = imageElement.value[index].split('base64,')[1];
      cnt++;
    }
  }
  
  if (cnt === 0){
    isShow.value = true;
    alertType.value = '';
    errorMessage.value = '송장사진은 필수입니다.';
    return;
  }
     
  const send_data = [];
  send_data.push({
    user_id,
    ord_id: driver_detail.value[0].ord_id,
    phone_no: driver_detail.value[0].phone1,
    serial_no: serial_no.value,
    date: selected_date.value,
    memo: memo.value,
    time_area: '',
    version: window.sessionStorage['version'],
    com_cost: com_cost.value,
    cost_type: cost_type.value,
    set_type: set_type.value,
    dlv_option1: '',
    dlv_option3: '',
    dlv_option4: '',
    dlv_option5: 'as_repair_comp',
    dlv_option6: '',
    dlv_option7: dev_part.value,
    dlv_option8: '',
    dlv_option9: '',
    dlv_option10: '',
    dlv_option11: '',
    dlv_option12: '',
    dlv_option13: '',
    dlv_option14: '',
    dlv_option15: '',
    dlv_option16: '',
    dlv_option17: '',
    dlv_option18: '',
    dlv_option19: '',
    dlv_option20: '',
    rti_serial_list: [] as SerialListI[],
  });

  for (let i = 0; i < asp_order_detail.value.length; i++) {
    send_data[0]['rti_serial_list'].push({
      epc_cd: '',
      item_serial_list: [
        {
          child_cust_lot_no: asp_order_detail.value[i].ord_seq,
          map_item_qty: 1,
          map_item_bar_cd: dlv_ord_type.value[i],
        },
      ],
    });
  }

  const json_data = JSON.stringify({
    login_id: user_id,
    password: passwd,
    work_list: send_data,
  });

  const encodedJson = btoa(unescape(encodeURIComponent(json_data)));

  formData = {
    ...formData,
    key: encodeURI(
      v_cust_cd +
        '/' +
        dlv_month +
        '/' +
        selected_date.value.replace(/-/g, '') +
        '/' +
        v_customer_nm +
        '_' +
        v_org_ord_id
    ),
    key2: encodeURI(v_customer_nm + '_' + v_org_ord_id + '_' + ord_type_val),
    key3: encodeURI(v_cust_cd),
    //sign: signData,
    img_ord_id: driver_detail.value[0].ord_id,
    json_data: encodedJson,
  };

  try {
    const response = await postApi(
      HOST_URL + '/' + ASP_SEND_REQ_ELEC_SERIAL,
      JSON.stringify(formData),
      {
        'Content-Type': 'application/json',
      }
    );
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (response.data.SEND_DATA === 'SUCCESS') {
      isShow.value = true;
      alertType.value = '';
      errorMessage.value = '데이터 전송 성공';
    } else {
      isShow.value = true;
      alertType.value = '';
      errorMessage.value = '데이터 전송 실패 : ' + response.data.RETURN_MSG;
      return;
    }
  } catch (err: any) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};

const savedFunction = () => {
  //
  // console.log(testList.value);
};

const barcodeScan = async () => {
  scanning.value = true;
  const scannerTag = document.querySelector('body');

  if (scannerTag) {
    scannerTag.classList.add('scanner-active');

    useBackButton(10, () => {
      stopBarcodeScan();
      return;
    });
  }

  await BarcodeScanner.checkPermission({ force: true });

  BarcodeScanner.hideBackground();

  const result = await BarcodeScanner.startScan();

  if (result.hasContent) {
    serial_no.value = result.content;
    scanning.value = false;
    document.querySelector('body')?.classList.remove('scanner-active');
  }
};

const stopBarcodeScan = () => {
  document.querySelector('body')?.classList.remove('scanner-active');
  scanning.value = false;

  BarcodeScanner.showBackground();
  BarcodeScanner.stopScan();
};

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-content {
  padding: 5.375rem 1.25rem 0;
  margin-bottom: 5.094rem;
  height: 100%;
}

.option-desc {
  margin-top: 1.5rem;
  color: #3d61e1;
  font-size: 0.875rem;
  letter-spacing: -0.052rem;
}

.option {
  margin-top: 0.875rem;
}

.option-head {
  display: flex;
  align-items: center;
  border: 1px solid #979797;
  height: 1.688rem;
}

.option-head span {
  width: 25%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: -0.044rem;
}

.option li {
  position: relative;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  height: 1.875rem;
  border: 1px solid #979797;
  border-top: none;
  font-size: 0.75rem;
  letter-spacing: -0.044rem;
}

.option li span {
  color: #181818;
}

.option li span:nth-child(4) {
  color: #3d61e1;
  font-weight: bold;
}

.option li span {
  width: 25%;
  text-align: center;
}

.more {
  position: absolute;
  right: -2.175rem;
  top: 0.313rem;
}

.camera-desc p:nth-child(1) {
  font-weight: bold;
  font-size: 0.938rem;
  margin-top: 1.5rem;
  letter-spacing: -0.055rem;
  color: #181818;
}

hr {
  margin-top: 1.563rem;
  background: #979797;
  height: 0.034rem;
}

.install-desc {
  margin-top: 1.5rem;
  letter-spacing: -0.052rem;
  color: #3d61e1;
  font-size: 0.875rem;
}

.select-div {
  margin-top: 1.031rem;
}

.select-div p {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
}

.select-div select {
  width: 100%;
  background: none;
  border: 1px solid #a7a7a7;
  height: 3.125rem;
  border-radius: 0.625rem;
  padding-left: 0.75rem;
  letter-spacing: -0.059rem;
  margin-top: 0.625rem;
}

.select-div div {
  position: relative;
}
.select-div span {
  position: absolute;
  right: 0.844rem;
  top: 55%;
  transform: translateY(-50%);
}

.text-div {
  margin-top: 1.031rem;
}
.text-div p {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
}

.text-div textarea,
.text-div input {
  width: 100%;
  background: #fff;
  margin-top: 0.625rem;
  border: 1px solid #a7a7a7;
  height: 3.125rem;
  border-radius: 0.625rem;
  padding-left: 0.75rem;
}

.signature {
  margin-top: 1.031rem;
}

.signature p {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
}

.signature-form {
  margin-top: 0.688rem;
  border: 1px solid #a7a7a7;
  border-radius: 0.625rem 0.625rem 0 0;
  border-bottom: none;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.688rem auto 0;
  background-color: #f7f7f7;
  height: 10.438rem;
}

.signature-form canvas {
  border-radius: 0.625rem 0.625rem 0 0;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-color: #fff;
}

.btn-area {
  display: flex;
  justify-content: space-between;
}

.btn-area a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 2.813rem;
  font-weight: bold;
  letter-spacing: -0.059rem;
  color: #3d61e1;
}

.btn-area a:nth-child(1) {
  border: 1px solid #3d61e1;
  border-radius: 0 0 0 0.625rem;
}

.btn-area a:nth-child(2) {
  border: 1px solid #3d61e1;
  border-radius: 0 0 0.625rem 0;
  border-left: none;
}

.cancel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 3.594rem;
  background: #3d61e1;
}

.cancel button {
  width: 100%;
  background: transparent;
  font-weight: bold;
  color: #fff;
  font-size: 1.188rem;
}

.serial {
  margin-top: 1.594rem;
}

.serial label:nth-child(1) {
  display: block;
  font-weight: bold;
  font-size: 0.938rem;
  letter-spacing: -0.055rem;
}

.serial label:nth-child(2) {
  display: block;
  margin-top: 0.656rem;
  font-size: 0.875rem;
  letter-spacing: -0.062rem;
  color: #7b7b7b;
}

.serial p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.688rem;
}

.serial input {
  background: #fff;
  width: 71%;
  height: 3.125rem;
  border-radius: 0.625rem;
  border: 1px solid #737373;
  padding-left: 0.75rem;
  letter-spacing: -0.059rem;
}

.serial span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  height: 3.125rem;
  width: 25%;
  background-color: #080d2c;
}

.serial img {
  width: 1.844rem;
}
</style>
