<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	CheckBoxComp.vue
 *  Description:    윈너스 모바일 딜리버리 배송항목 체크박스 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="checkbox">
    <p>사다리, 양중여부</p>
    <ul>
      <li v-for="(data, index) in checkbox" :key="data.name">
        <input
          :id="'checkbox' + index"
          type="checkbox"
          :value="data.value"
          :checked="check_list[index]"
          @change="onCheck(index)"
        />
        <label :for="'checkbox' + index">{{ data.name }} </label>
      </li>
    </ul>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">

// Variable Definitions
interface CheckBoxI {
  name: string;
  value: string;
}

const props = defineProps({
  checkbox: {
    type: Array as () => CheckBoxI[],
  },

  check_list: {
    type: Array as () => boolean[],
    required: true,
  },

  onCheck: {
    type: Function,
    required: true,
  },
});

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.checkbox {
  margin-top: 1.031rem;
}

.checkbox p {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 33%;
  margin-top: 1.313rem;
}

input {
  display: none;
}

label {
  display: inline-block;
  line-height: 1.375rem;
  padding-left: 1.875rem;
  background: url('/public/assets/images/btn-select-off.png') left/1.375rem
    no-repeat;
}

input:checked + label {
  background: url('/public/assets/images/btn-select-on.png') left/1.375rem
    no-repeat;
}
</style>
