<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DlvOrdTypeComp.vue
 *  Description:    윈너스 모바일 딜리버리 배송주문 형식 항목 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="option">
    <div class="option-head">
      <span>No.</span>
      <span>상품명</span>
      <span>수량</span>
      <span>설치유형</span>
    </div>
    <ul>
      <li v-for="(data, index) in asp_order_detail" :key="index">
        <span>{{ index + 1 }}</span>
        <span>{{ data.product_nm }}</span>
        <span>{{ data.qty }}</span>
        <select
          :value="dlv_ord_type[index]"
          @change="changeOption($event, index)"
        >
          <option value="99">배송완료</option>
          <option value="87">초도불량</option>
          <option value="30">현장취소</option>
        </select>
        <span class="more">▼</span>
      </li>
    </ul>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType } from 'vue';

import { DetailI } from '@/types';

// Variable Definitions
const props = defineProps({
  asp_order_detail: {
    type: Array as PropType<DetailI[]>,
    default: () => [],
  },

  dlv_ord_type: {
    type: Array,
    required: true,
  },
});

const emit = defineEmits(['update:dlv_ord_type']);

// Framework Function Definitions

// User Function Definitions
const changeOption = (event: Event, index: number) => {
  const target = event.target as HTMLSelectElement;
  const updatedValue = target.value;
  const updatedArray = [...props.dlv_ord_type];

  updatedArray[index] = updatedValue;

  emit('update:dlv_ord_type', updatedArray);
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.option {
  margin-top: 0.875rem;
}

.option-head {
  display: flex;
  align-items: center;
  border: 1px solid #979797;
  height: 1.688rem;
}

.option-head span {
  width: 25%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: -0.044rem;
}

.option li {
  position: relative;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  height: 1.875rem;
  border: 1px solid #979797;
  border-top: none;
  font-size: 0.75rem;
  letter-spacing: -0.044rem;
}

.option li span {
  color: #181818;
}

.option li select {
  background: none;
  border: none;
  color: #3d61e1;
  font-weight: bold;
  z-index: 1;
}

.option li span,
.option li select {
  width: 25%;
  text-align: center;
}

.more {
  position: absolute;
  right: -2rem;
  top: 0.413rem;
}
</style>
