<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DeliverySrhMemo.vue
 *  Description:    윈너스 모바일 딜리버리 AS관리(인수증메모) 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <HeaderComp title="배송관리(인수증메모)" />
      <div class="winus-content">
        <SrhMemoItemList :search_qry="search_qry" />
      </div>
      <FooterBtn type="1btn" />
      <AlertComp
        v-if="isShow"
        :message="errorMessage"
        :close-function="closeHandler"
      />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { IonContent, IonPage } from '@ionic/vue';
import { useRoute, useRouter } from 'vue-router';
import { HttpParams } from '@capacitor/core';
import axios from 'axios';

import FooterBtn from '@/components/footer/FooterBtn.vue';
import HeaderComp from '@/components/header/HeaderComp.vue';
import SrhMemoItemList from '@/components/delivery/srh_memo/SrhMemoItemList.vue';
import AlertComp from '@/components/ui/AlertComp.vue';

import { DELIVERY_NOT_SET_DRIVER, ASP_ORDER_QRY } from '@/constants';
import { SrhMemoListI } from '@/types';
import { getApi } from '@/utils/api-hook';

// Variable Definitions
const route = useRoute();
const router = useRouter();

const search_qry = ref([] as SrhMemoListI[]);
const isShow = ref(false as boolean);
const errorMessage = ref('' as string);

const user_id = localStorage.getItem('id');
const passwd = localStorage.getItem('passwd');

// Framework Function Definitions
onMounted(() => {
  fetchAspSearchQry();
});

// User Function Definitions
const closeHandler = () => {
  isShow.value = false;

  if (
    errorMessage.value === '일치하는 정보가 없습니다.!!!' ||
    errorMessage.value === 'Error : 조회된 상품정보가 없습니다.!!!'
  )
    router.replace({ name: 'DeliverySearch' });
};

const fetchAspSearchQry = async () => {
  try {

    const url = window.history.state.back == '/delivery/date-change-manage' 
                  ? DELIVERY_NOT_SET_DRIVER 
                  : ASP_ORDER_QRY
                  
    const response = await getApi(url, {
      login_id: user_id,
      password: passwd,
      lc_id: window.sessionStorage['LC_ID'],
      ord_id: route.query.ord_id,
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (!response.data.DATA) {
      isShow.value = true;
      errorMessage.value = '일치하는 정보가 없습니다.!!!';
      return;
    }

    search_qry.value = response.data.DATA;
  } catch (err) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-content {
  padding: 5.375rem 1.25rem 0;
  margin-bottom: 5.094rem;
}
</style>
