<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DeliveryReqDateChange.vue
 *  Description:    윈너스 모바일 딜리버리 배송예정일 변경 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <HeaderComp title="배송예정일 변경" />
      <div class="winus-content page-order">
        <div class="input-area">
          <RequestDelivery :selected_date="selected_date" />
          <BarcodeComp :read_only="true" :serial_no="ord_number" @serial_no="ord_number=$event" />
          <ChangeItemList
            :driver_detail="driver_detail"
            v-if="driver_detail.length > 0"
          />
          <div class="change-date">
            <p>배송 예정 변경일</p>
            <div class="inner" @click="showCalendar">
              <input
                type="text"
                id="select_change_date"
                readonly
                style="width: calc(100% - 0rem)"
                :value="today_date"
              />
              <img
                src="/assets/images/btn-calendar.png"
                alt="date-icon"
                class="date-icon"
              />
            </div>
            <DatePicker
              v-if="isShowCalendar"
              :hideCalendar="hideCalendar"
              :selectDate="selectDate"
            />
          </div>
          <p class="change">
            <label>변경 사유</label>
            <textarea
              name="memo"
              rows="3"
              id="memo"
              style="ime-mode: active"
              v-model="memo_data"
            ></textarea>
          </p>
        </div>
      </div>
      <FooterBtn type="2btn" :sending-function="sendingFunction" />
      <AlertComp
        v-if="isShow"
        :message="errorMessage"
        :close-function="closeHandler"
      />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { IonContent, IonPage } from '@ionic/vue';
import { HttpParams } from '@capacitor/core';
import axios from 'axios';

import DatePicker from '@/components/DatePicker.vue';
import FooterBtn from '@/components/footer/FooterBtn.vue';
import HeaderComp from '@/components/header/HeaderComp.vue';
import ChangeItemList from '@/components/common/date_change/ChangeItemList.vue';
import RequestDelivery from '@/components/ui/RequestDelivery.vue';
import BarcodeComp from '@/components/ui/BarcodeComp.vue';
import AlertComp from '@/components/ui/AlertComp.vue';

import {
  ASP_ORDER_QRY,
  ASP_SEND_DATE_CHANGE_DATA,
  HOST_URL,
} from '@/constants';
import { DetailI } from '@/types';
import { formattedDate } from '@/utils/formatted-date';
import { getApi, postApi } from '@/utils/api-hook';
import { formattedFromDate } from '@/utils/formatted-date';

// Variable Definitions
const route = useRoute();
const router = useRouter();

const isShowCalendar = ref(false as boolean);
const today_date = ref(formattedFromDate(new Date()) as string);
const selected_date = ref('' as string);
const ord_number = ref(route.query.ord_id as string);
const driver_detail = ref([] as DetailI[]);
const memo_data = ref('' as string);
const isShow = ref(false as boolean);
const errorMessage = ref('' as string);

const user_id = localStorage.getItem('id');
const password = localStorage.getItem('passwd');

// Framework Function Definitions
onMounted(() => {
  fetchOrderQry();
});

// User Function Definitions
const closeHandler = () => {
  isShow.value = false;

  if (
    errorMessage.value === '수정되었습니다.!!!' ||
    errorMessage.value === '일치하는 정보가 없습니다.!!!'
  ) {
    router.replace({ name: 'DeliverySearch' });
  }
};

const fetchOrderQry = async () => {
  try {
    const response = await getApi(ASP_ORDER_QRY, {
      login_id: user_id,
      password,
      lc_id: window.sessionStorage['LC_ID'],
      ord_id: route.query.ord_id,
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (!response.data.DATA) {
      isShow.value = true;
      errorMessage.value = '일치하는 정보가 없습니다.!!!';
      return;
    }

    driver_detail.value = response.data.DATA;
    selected_date.value = formattedDate(response.data.DATA[0].req_dt);
  } catch (err) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};

const showCalendar = () => {
  isShowCalendar.value = true;
};

const hideCalendar = () => {
  isShowCalendar.value = false;
};

const selectDate = (date: string) => {
  today_date.value = date;
};

const sendingFunction = async () => {
  const send_data = [
    {
      user_id,
      ord_id: route.query.ord_id,
      phone_no: driver_detail.value[0].phone2,
      date: today_date.value,
      memo: memo_data.value,
      version: window.sessionStorage['version'],
    },
  ];

  try {
   const response = await postApi(
      //HOST_URL + '/' + ASP_SEND_DATE_CHANGE_DATA,
      ASP_SEND_DATE_CHANGE_DATA,
      {
        login_id: user_id,
        password,
        work_list: send_data,
      },
      {
        'Content-Type': 'application/json; charset=utf-8',
      }
    );
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (response.data.SEND_DATA === 'SUCCESS') {
      isShow.value = true;
      errorMessage.value = '수정되었습니다.!!!';
    } else {
      isShow.value = true;
      errorMessage.value = '데이터 전송 실패 : ' + response.data.RETURN_MSG;
      return;
    }
  } catch (err: any) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-content {
  padding: 5.375rem 1.25rem 0;
  margin-bottom: 5.094rem;
}

.change-date p {
  margin-top: 1.594rem;
  font-weight: bold;
  font-size: 0.938rem;
  letter-spacing: -0.055rem;
}

.inner {
  position: relative;
  margin-top: 0.688rem;
}

.inner input {
  background: #fff;
  height: 3.125rem;
  border-radius: 0.625rem;
  padding-left: 0.75rem;
  border: 1px solid #a7a7a7;
}

.date-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.813rem;
  width: 1.563rem;
}

.change {
  margin-top: 1.594rem;
  font-size: 0.938rem;
  letter-spacing: -0.055rem;
  font-weight: bold;
}

.change textarea {
  width: 100%;
  background: #fff;
  height: 3.125rem;
  margin-top: 0.688rem;
  border-radius: 0.625rem;
  border: 1px solid #a7a7a7;
  padding-left: 0.75rem;
  padding-top: 0.313rem;
}
</style>
