<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DeliveryCancelReq.vue
 *  Description:    윈너스 모바일 딜리버리 배송 최소 요청 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <ion-page>
    <ion-content>
      <HeaderComp title="취소요청" />
      <div class="winus-content">
        <RequestDelivery :selected_date="selected_date" />
        <ManageCancelItemList
          :driver_detail="driver_detail"
          v-if="driver_detail.length > 0"
        />
        <p class="memo">
          <label>메모</label>
          <textarea type="text" name="write_memo" ref="memo_data"></textarea>
        </p>
        <FooterBtn type="2btn" :sending-function="sendingFunction" />
      </div>
      <AlertComp
        v-if="isShow"
        :message="errorMessage"
        :close-function="closeHandler"
      />
    </ion-content>
  </ion-page>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { Ref, onMounted, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { IonContent, IonPage } from '@ionic/vue';
import { HttpParams } from '@capacitor/core';

import FooterBtn from '@/components/footer/FooterBtn.vue';
import HeaderComp from '@/components/header/HeaderComp.vue';
import ManageCancelItemList from '@/components/delivery/manage/cancel/ManageCancelItemList.vue';
import RequestDelivery from '@/components/ui/RequestDelivery.vue';
import AlertComp from '@/components/ui/AlertComp.vue';

import {
  ASP_ORDER_QRY,
  ASP_SEND_MANAGE_CANCEL_DATA,
  HOST_URL,
} from '@/constants';
import { DetailI } from '@/types';
import { formattedDate } from '@/utils/formatted-date';
import { getApi, postApi } from '@/utils/api-hook';

// Variable Definitions
const router = useRouter();
const route = useRoute();

const selected_date = ref('' as string);
const driver_detail = ref([] as DetailI[]);
const isShow = ref(false as boolean);
const errorMessage = ref('' as string);

const memo_data: Ref<HTMLTextAreaElement | null> = ref(null);

// Framework Function Definitions
onMounted(() => {
  fetchData();
});

// User Function Definitions
const closeHandler = () => {
  isShow.value = false;

  if (errorMessage.value === '취소 사유를 입력해주세요.') {
    memo_data.value?.focus();
  }

  if (errorMessage.value === '취소 요청 되었습니다.') {
    router.replace({
      name: route.query.page === 'as' ? 'AsSearch' : 'DeliverySearch',
    });
  }
};

const fetchData = async () => {
  const login_id = localStorage.getItem('id');
  const password = localStorage.getItem('passwd');

  const response = await getApi(ASP_ORDER_QRY, {
    login_id,
    password,
    lc_id: window.sessionStorage['LC_ID'],
    ord_id: route.query.ord_id,
  } as HttpParams);
  if (response.data.ERRCODE) {
    isShow.value = true;
    errorMessage.value = response.data.MSG;
    return;
  }

  if (!response.data.DATA) {
    isShow.value = true;
    errorMessage.value = '일치하는 정보가 없습니다.!!!';
    return;
  }

  driver_detail.value = response.data.DATA;
  selected_date.value = formattedDate(response.data.DATA[0].req_dt);
};

const sendingFunction = async () => {
  if (memo_data.value?.value.trim() === '') {
    isShow.value = true;
    errorMessage.value = '취소 사유를 입력해주세요.';
    return;
  }

  const login_id = localStorage.getItem('id');
  const password = localStorage.getItem('passwd');

  const send_data = [
    {
      user_id: login_id,
      ord_id: route.query.ord_id,
      date: selected_date.value,
      memo: memo_data.value?.value,
      version: window.sessionStorage['version'],
    },
  ];

  try {
    const response = await postApi(
     // HOST_URL + '/' + ASP_SEND_MANAGE_CANCEL_DATA,
     ASP_SEND_MANAGE_CANCEL_DATA,
      {
        login_id,
        password,
        work_list: send_data,
      },
      {
        'Content-Type': 'application/json; charset=utf-8',
      }
    );
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (response.data.SEND_DATA === 'SUCCESS') {
      isShow.value = true;
      errorMessage.value = '취소 요청 되었습니다.';
    } else {
      isShow.value = true;
      errorMessage.value = '데이터 전송 실패  : ' + response.data.RETURN_MSG;
      return;
    }
  } catch (err: any) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-content {
  padding: 5.375rem 1.25rem 0;
  margin-bottom: 5.094rem;
}

.memo {
  margin-top: 1.594rem;
  font-size: 0.938rem;
  letter-spacing: -0.055rem;
  font-weight: bold;
}

.memo textarea {
  width: 100%;
  height: 3.125rem;
  margin-top: 0.688rem;
  border-radius: 0.625rem;
  border: 1px solid #a7a7a7;
  padding-left: 0.75rem;
  background: #fff;
  padding-top: 0.313rem;
}
</style>
