<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DeliveryCompHdElecSerial.vue
 *  Description:    윈너스 모바일 딜리버리 배송완료(H/D) 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <div v-if="!scanning">
        <HeaderComp title="배송완료(H/D)" />
        <div class="winus-content">
          <RequestDelivery :selected_date="selected_date" />
          <ElecItemList
            v-if="driver_detail.length > 0"
            :driver_detail="driver_detail"
          />
          <div class="serial">
            <label>시리얼번호를 입력하세요!!! (등록값 : {{ start_serial_no || '없음'}})</label>
            <label>
              시리얼 넘버를 입력하면 사진을 제외한 모든 데이터는 초기화됩니다.
            </label>
            <BarcodeComp :no_label="true" :start_serial_no="start_serial_no ?? ''" :serial_no="serial_no ?? ''" @serial_no="serial_no=$event"/>
          </div>

          <div class="option-desc">
            <p>▶ 배송완료 / 초도불량 / 현장취소를 선택할 수 있습니다.</p>
          </div>
          <DlvOrdTypeComp
            :asp_order_detail="asp_order_detail"
            v-model:dlv_ord_type="dlv_ord_type"
          />
          <div class="camera-desc">
            <p>
              사진을 찍어주세요 <br />
              (설치 완료 5장 이상, 서명된 인수증, 시리얼사진)
            </p>
            <p>
              ▶ 화주사 "리쏘" // 박스 개포 후 4면사진 필수 입니다.<br />
              ▶ 화주사 "리쏘" // 고객 CS로 인한 물류비 패널티 보호용입니다.
            </p>
          </div>
          <CameraComp
            :camera="camera"
            :imageElement="imageElement"
            :takePicture="getPictures"
          />
          <hr />
          <div class="option-desc">
            <p>▶ TV 설치시 설치유형을 한번 더 선택해주세요.</p>
            <p>▶ 스탠드 / 브라켓 보유 / 브라켓 판매를 선택할 수 있습니다.</p>
          </div>
          <SelectComp
            title="설치유형"
            :selectArray="selectArray"
            v-model:set-type="set_type"
          />
          <TextareaComp title="배송메모" v-model:text-data="memo" />
          <p class="option-desc">
            ▶ 사다리, 양중, 내림 등 추가비용 필수사진 및 내용 미기재시 <br />
            정산 제외
          </p>
          <CheckBoxComp
            :checkbox="checkbox"
            :check_list="check_list"
            :on-check="onCheck"
          />
          <TextareaComp
            title="추가비용 메모 (양중 선택시 필수)"
            v-model:text-data="etc_work_memo"
          />

          <OptionCameraComp
            :image-element="imageElement"
            :take-picture="getPictures"
            title="양중"
            v-if="check_list[1]"
          />
          <OptionCameraComp
            :image-element="imageElement"
            :take-picture="getPictures"
            title="내림"
            v-if="check_list[2]"
          />
          <OptionCameraComp
            :image-element="imageElement"
            :take-picture="getPictures"
            title="사다리차"
            v-if="check_list[3]"
          />
          <OptionCameraComp
            :image-element="imageElement"
            :take-picture="getPictures"
            title="기타"
            v-if="check_list[4]"
          />

          <SignatureComp v-model:signature="signaturePad" />
        </div>

        <FooterBtn
          :sending-function="sendingFunction"
          :saved-function="savedFunction"
        />
      </div>
      <div v-else class="cancel">
        <button @click="stopBarcodeScan">CANCEL</button>
      </div>

      <AlertComp
        v-if="isShow"
        :alert-type="alertType"
        :message="errorMessage"
        :close-function="closeHandler"
        :confirm-function="confirmHandler"
        :take-picture-function="takePicture"
        :from-photo-album-function="fromPhotoAlbum"
      />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, watch, ref, Ref, reactive } from 'vue';
import {
  IonContent,
  IonPage,
  useBackButton,
} from '@ionic/vue';
import { useRoute, useRouter } from 'vue-router';
import { HttpParams, Capacitor } from '@capacitor/core';
import { Camera, CameraResultType, CameraSource } from '@capacitor/camera';
import SignaturePad from 'signature_pad';
import ElecItemList from '@/components/delivery/elec_serial/ElecItemList.vue';
import FooterBtn from '@/components/footer/FooterBtn.vue';
import HeaderComp from '@/components/header/HeaderComp.vue';
import RequestDelivery from '@/components/ui/RequestDelivery.vue';
import CameraComp from '@/components/ui/CameraComp.vue';
import OptionCameraComp from '@/components/delivery/elec_serial/OptionCameraComp.vue';
import BarcodeComp from '@/components/ui/BarcodeComp.vue';
import CheckBoxComp from '@/components/delivery/elec_serial/CheckBoxComp.vue';
import AlertComp from '@/components/ui/AlertComp.vue';
import DlvOrdTypeComp from '@/components/delivery/elec_serial/DlvOrdTypeComp.vue';
import SignatureComp from '@/components/SignatureComp.vue';
import TextareaComp from '@/components/ui/TextareaComp.vue';
import SelectComp from '@/components/ui/SelectComp.vue';

import {
  HOST_URL,
  PROXY_URL,
  ASP_ORDER_QRY,
  ASP_ORDER_DETAIL_QRY,
  ASP_SEND_REQ_ELEC_SERIAL,
LOCAL_URL,
} from '@/constants';
import { DetailI, SerialListI } from '@/types';
import { formattedDate } from '@/utils/formatted-date';
import { getApi, postApi } from '@/utils/api-hook';
import { elecSerialCameraArr } from '@/constants';
import { CheckboxArrI, checkboxArr } from '@/constants';
import { PICTURE_QUALITY } from '@/constants';

// Variable Definitions
const route = useRoute();
const router = useRouter();

const ord_number = ref('' as string);
const driver_detail = ref([] as DetailI[]);
const asp_order_detail = ref([] as DetailI[]);
const imageElement = ref([] as string[] | []);
const selected_date = ref('' as string);
const memo = ref('' as string);
const set_type = ref('S' as string);
const dlv_ord_type = ref([] as string[]);
const signaturePad = ref(null as null | SignaturePad);
const check_list = ref([true, false, false, false, false] as boolean[]);
const camera = ref(elecSerialCameraArr as string[]);
const base64Images = ref([] as string[] | []);
const checkbox = ref(checkboxArr as CheckboxArrI[]);
const scanning = ref(false as boolean);
const serial_no = ref(null as string|null);
const isShow = ref(false as boolean);
const selectedPhotoNumber = ref(0 as number);
const errorMessage = ref('' as string);
const alertType = ref('' as string);
const etc_work_memo = ref('' as string);
const start_serial_no = ref(null as string|null);

const passwd = localStorage.getItem('passwd');
const user_id = localStorage.getItem('id');
const selected_loc_id = window.sessionStorage['LC_ID'];
const selectArray = [
  { value: 'S', title: 'TV_스탠드' },
  { value: 'W1', title: 'TV_브라켓(판매)' },
  { value: 'W2', title: 'TV_벽걸이(보유)' },
];

let v_cust_cd = '';
let v_org_ord_id = '';
let v_customer_nm = '';
let ord_type_val = '';

// Framework Function Definitions
onMounted(() => {
  fetchOrderDetail();
});

// User Function Definitions
const closeHandler = () => {
  isShow.value = false;

  if (
    errorMessage.value === '데이터 전송 성공' ||
    errorMessage.value === '일치하는 정보가 없습니다.'
  ) {
    router.replace({ name: 'DeliverySearch' });
  }
};

const onCheck = (index: number) => {
  if (index === 0 && check_list.value[1]) {
    check_list.value[1] = false;
  } else if (index === 1 && check_list.value[0]) {
    check_list.value[0] = false;
  }

  if (index === 1 && check_list.value[3]) {
    check_list.value[3] = false;
  } else if (index === 3 && check_list.value[1]) {
    check_list.value[1] = false;
    check_list.value[0] = true;
  }

  check_list.value[index] = !check_list.value[index];
};

watch(check_list.value, (newValue) => {
  if (newValue.every((data) => !data)) newValue[0] = true;
});

const fetchAspOrder = async () => {
  try {
    const response = await getApi(ASP_ORDER_DETAIL_QRY, {
      login_id: user_id,
      password: passwd,
      lc_id: selected_loc_id,
      ord_id: route.query.ord_id,
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (!response.data.DATA) {
      isShow.value = true;
      errorMessage.value = '일치하는 정보가 없습니다.';
      return;
    }

    asp_order_detail.value = response.data.DATA;
    dlv_ord_type.value = new Array(asp_order_detail.value.length).fill('99');
    start_serial_no.value = response.data.DATA[0]?.serial_no;

    v_cust_cd = response.data.DATA[0].dlv_etc3;
    v_org_ord_id = response.data.DATA[0].ord_id;
    v_customer_nm = response.data.DATA[0].customer_nm;
    ord_type_val = response.data.DATA[0].dlv_etc2;
  } catch (err) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};

const fetchOrderDetail = async () => {
  ord_number.value = route.query.ord_id as string;

  try {
    const response = await getApi(ASP_ORDER_QRY, {
      login_id: user_id,
      password: passwd,
      lc_id: selected_loc_id,
      ord_id: route.query.ord_id,
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (!response.data.DATA) {
      isShow.value = true;
      errorMessage.value = '일치하는 정보가 없습니다.';
      return;
    }

    driver_detail.value = response.data.DATA;
    selected_date.value = formattedDate(response.data.DATA[0].req_dt);

    window.sessionStorage['DLV_SRH_YN'] = 'Y';

    fetchAspOrder();
  } catch (err) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};

const getPictures = (id: number) => {
  isShow.value = true;
  alertType.value = 'photo';
  selectedPhotoNumber.value = id;
}

const fromPhotoAlbum = async () => {
  isShow.value = false;
  const options = {
    correctOrientation: true,
    resultType: CameraResultType.Uri,
  };

  await Camera.pickImages(options).then(async (result: any) => {
    const images = result.photos;

    if (selectedPhotoNumber.value < 9 && images.length > 9 || selectedPhotoNumber.value >= 9 && images.length > 3) {
      isShow.value = true;
      alertType.value = '';
      errorMessage.value = '선택된 사진이 너무 많습니다.';
      return;
    }

    let addPhotoNumber = 0;
    if (selectedPhotoNumber.value < 9) {
      addPhotoNumber = 0;
    } else if (selectedPhotoNumber.value < 12) {
      addPhotoNumber = 9;
    } else if (selectedPhotoNumber.value < 15) {
      addPhotoNumber = 12;
    } else if (selectedPhotoNumber.value < 18) {
      addPhotoNumber = 15;
    } else if (selectedPhotoNumber.value < 21) {
      addPhotoNumber = 18;
    }

    for (let i = 0; i < images.length; i++) {
      imageElement.value[addPhotoNumber + i] = images[i].webPath;
      const fileUri = Capacitor.convertFileSrc(images[i].webPath);
      const filePath = fileUri.startsWith('file://') ? fileUri.slice(7) : fileUri;

      let readFilePromise;
      try {
        readFilePromise = new Promise<string>((resolve, reject) => {
          const reader = new FileReader();
          reader.onloadend = () => {
            resolve(reader.result as string);
          };
          reader.onerror = (error) => {
            reject(error);
          };
          fetch(filePath).then(response => response.blob()).then(blob => reader.readAsDataURL(blob));
        });
      } catch(e: any) {
        isShow.value = true;
        errorMessage.value = '사진 정보를 읽는데 실패하였습니다.';
      }
      const base64Image = await readFilePromise;
      base64Images.value[addPhotoNumber + i] = base64Image;
    }
  });
}

const takePicture = async () => {
  isShow.value = false;
  try {
    const image = await Camera.getPhoto({
      quality: PICTURE_QUALITY,
      resultType: CameraResultType.DataUrl,
      source: CameraSource.Camera,
      saveToGallery: true, // 사진을 갤러리에 저장
      allowEditing: false, // 편집 허용 여부
    });
    if (image.dataUrl) {
      imageElement.value[selectedPhotoNumber.value] = image.dataUrl;
      base64Images.value[selectedPhotoNumber.value] = image.dataUrl;
    }
  } catch(e: any) {
    isShow.value = true;
    errorMessage.value = '사진 정보를 읽는데 실패하였습니다.';
  }
};

const sendingFunction = async () => {
  if (window.sessionStorage['DLV_SRH_YN'] === 'N') {
    isShow.value = true;
    errorMessage.value = '먼저 바코드 조회 또는 폰 번호를 조회해 주세요.';
    return;
  }

  if (serial_no.value === '') {
    isShow.value = true;
    alertType.value = '';
    errorMessage.value = '바코드를 인식해주세요.';
    return;
  }

  if (
    signaturePad.value?.isEmpty() === undefined ||
    signaturePad.value?.isEmpty()
  ) {
    isShow.value = true;
    alertType.value = '';
    errorMessage.value = '서명이 없습니다. 서명을 해주세요.';
    return;
  }

  isShow.value = true;
  alertType.value = 'confirm';
  errorMessage.value = '출발 후 취소 요청입니다. 전송하시겠습니까?';

  isShow.value = true;
  alertType.value = 'confirm';
  errorMessage.value = '배송완료입니다. 전송하시겠습니까?';
};

const confirmHandler = async () => {
  const signData = signaturePad.value
    ?.toDataURL('image/jpeg', 1.0)
    .split('base64,')[1];
  const dlv_month = new Date().getMonth() + 1;
  const customer_filt = v_customer_nm.indexOf('(');

  if (customer_filt > 1) {
    v_customer_nm = v_customer_nm.substring(0, customer_filt);
  }

  console.log(v_customer_nm); 
  
  let formData = {} as any;
  for (let index = 0; index < 21; index++) {
    if (typeof base64Images.value[index] !== 'undefined' && base64Images.value[index] !== null) {
      formData['file' + index] = base64Images.value[index].split('base64,')[1];
    }
  }

  const send_data = [];
  send_data.push({
    user_id,
    ord_id: driver_detail.value[0].ord_id,
    phone_no: driver_detail.value[0].phone1,
    serial_no: serial_no.value,
    date: selected_date.value,
    memo: memo.value,
    version: window.sessionStorage['version'],
    com_cost: '',
    cost_type: '',
    set_type: set_type.value,
    dlv_option1: '',
    dlv_option3: '',
    dlv_option4: '',
    dlv_option5: 'comp-elec',
    dlv_option6: etc_work_memo.value, // 
    dlv_option7: '',
    dlv_option8: 'N',
    dlv_option9: '',
    dlv_option10: '',
    dlv_option11: '',
    dlv_option12: '',
    dlv_option13: '',
    dlv_option14: '',
    dlv_option15: '',
    dlv_option16: '',
    dlv_option17: '',
    dlv_option18: '',
    dlv_option19: '',
    dlv_option20: '',
    rti_serial_list: [] as SerialListI[],
  });

  for (let i = 0; i < asp_order_detail.value.length; i++) {
    send_data[0]['rti_serial_list'].push({
      epc_cd: '',
      item_serial_list: [
        {
          child_cust_lot_no: asp_order_detail.value[i].ord_seq,
          map_item_qty: 1,
          map_item_bar_cd: dlv_ord_type.value[i],
        },
      ],
    });
  }

  const json_data = JSON.stringify({
    login_id: user_id,
    password: passwd,
    work_list: send_data,
  });

  const encodedJson = btoa(unescape(encodeURIComponent(json_data)));

  formData = {
    ...formData,
    key: encodeURI(
      v_cust_cd +
        '/' +
        dlv_month +
        '/' +
        selected_date.value.replace(/-/g, '') +
        '/' +
        v_customer_nm +
        '_' +
        v_org_ord_id
    ),
    key2: encodeURI(v_customer_nm + '_' + v_org_ord_id + '_' + ord_type_val),
    key3: encodeURI(v_cust_cd),
    sign: signData,
    img_ord_id: driver_detail.value[0].ord_id,
    json_data: encodedJson,
  };

  try {
    const response = await postApi(
      ASP_SEND_REQ_ELEC_SERIAL,
      JSON.stringify(formData),
      {
        'Content-Type': 'application/json',
      }
    );
    
    if (response.data.ERRCODE) {
      console.log(response.data.MSG);
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (response.data.SEND_DATA === 'SUCCESS') {
      isShow.value = true;
      alertType.value = '';
      errorMessage.value = '데이터 전송 성공';
    } else {
      isShow.value = true;
      alertType.value = '';
      errorMessage.value = '데이터 전송 실패 : ' + response.data.RETURN_MSG;
      return;
    }
  } catch (err: any) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};

const savedFunction = () => {
  //
};

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-content {
  padding: 5.375rem 1.25rem 0;
  margin-bottom: 5.094rem;
  height: 100%;
}

.option-desc {
  margin-top: 1.5rem;
  color: #3d61e1;
  font-size: 0.875rem;
  letter-spacing: -0.052rem;
}

.camera-desc p:nth-child(1) {
  font-weight: bold;
  font-size: 0.938rem;
  margin-top: 1.5rem;
  letter-spacing: -0.055rem;
  color: #181818;
}

.camera-desc p:nth-child(2) {
  font-size: 0.875rem;
  margin-top: 0.656rem;
  letter-spacing: -0.055rem;
  color: #3d61e1;
  letter-spacing: -0.052rem;
}

hr {
  margin-top: 1.563rem;
  background: #979797;
  height: 0.034rem;
}

.install-desc {
  margin-top: 1.5rem;
  letter-spacing: -0.052rem;
  color: #3d61e1;
  font-size: 0.875rem;
}

.cancel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 3.594rem;
  background: #3d61e1;
}

.cancel button {
  width: 100%;
  background: transparent;
  font-weight: bold;
  color: #fff;
  font-size: 1.188rem;
}

.serial {
  margin-top: 1.594rem;
}

.serial label:nth-child(1) {
  display: block;
  font-weight: bold;
  font-size: 0.938rem;
  letter-spacing: -0.055rem;
}

.serial label:nth-child(2) {
  display: block;
  margin-top: 0.656rem;
  font-size: 0.875rem;
  letter-spacing: -0.062rem;
  color: #7b7b7b;
}

.serial p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.688rem;
}

.serial input {
  background: #fff;
  width: 71%;
  height: 3.125rem;
  border-radius: 0.625rem;
  border: 1px solid #737373;
  padding-left: 0.75rem;
  letter-spacing: -0.059rem;
}

.serial span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  height: 3.125rem;
  width: 25%;
  background-color: #080d2c;
}

.serial img {
  width: 1.844rem;
}
</style>
