<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DeliveryCompCancelAfterStart.vue
 *  Description:    윈너스 모바일 딜리버리 배송 출발 후 취소 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <HeaderComp title="출발 후 취소" />
      <div class="winus-content">
        <input type="hidden" name="init_user_no" id="init_user_no" />
        <div class="input-area">
          <RequestDelivery :selected_date="selected_date" />
          <BarcodeComp :read_only="true" :serial_no="barcode" @serial_no="barcode=$event"/>
          <div class="code" id="item_list" v-if="driver_detail.length > 0">
            <CancelItemList :driver_detail="driver_detail" />
          </div>
          <CameraComp
            :camera="camera"
            :imageElement="imageElement"
            :takePicture="takePicture"
            title="사진을 찍어주세요.(옵션)"
          />

          <p class="cancel">
            <label>출발 후 취소 사유</label>
            <textarea
              id="memo"
              type="text"
              rows="10"
              cols="100"
              ref="memo_val"
            ></textarea>
          </p>
        </div>
      </div>
      <FooterBtn type="2btn" :sending-function="sendingFunction" />
      <AlertComp
        v-if="isShow"
        :message="errorMessage"
        :close-function="closeHandler"
        :alert-type="alertType"
        :confirm-function="confirmHandler"
      />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onMounted, Ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { IonContent, IonPage } from '@ionic/vue';
import { HttpParams } from '@capacitor/core';
import { Camera, CameraResultType } from '@capacitor/camera';

import FooterBtn from '@/components/footer/FooterBtn.vue';
import HeaderComp from '@/components/header/HeaderComp.vue';
import CancelItemList from '@/components/common/cancel/CancelItemList.vue';
import RequestDelivery from '@/components/ui/RequestDelivery.vue';
import CameraComp from '@/components/ui/CameraComp.vue';
import BarcodeComp from '@/components/ui/BarcodeComp.vue';
import AlertComp from '@/components/ui/AlertComp.vue';

import { ASP_ORDER_QRY, ASP_SEND_REQ_CANCEL_DATA,ASP_ORDER_DETAIL_QRY, HOST_URL } from '@/constants';
import { DetailI } from '@/types';
import { formattedDate } from '@/utils/formatted-date';
import { getApi, postApi } from '@/utils/api-hook';
import { reqCancelCameraArr } from '@/constants';
import { PICTURE_QUALITY } from '@/constants';

// Variable Definitions
const route = useRoute();
const router = useRouter();

const selected_date = ref('' as string);
const barcode = ref(route.query.ord_id as string);
const phone_number = ref('' as string);
const driver_detail = ref([] as DetailI[]);
const imageElement = ref([] as string[] | []);
const camera = ref(reqCancelCameraArr as string[]);
const isShow = ref(false as boolean);
const errorMessage = ref('' as string);
const alertType = ref('' as string);

const memo_val: Ref<HTMLTextAreaElement | null> = ref(null);

const user_id = localStorage.getItem('id');
const password = localStorage.getItem('passwd');

// Framework Function Definitions
onMounted(() => {
  fetchOrdQry();
});

// User Function Definitions
const closeHandler = () => {
  isShow.value = false;

  if (errorMessage.value === '출발 후 취소 사유는 필수입니다.!!!') {
    memo_val.value?.focus();
  }

  if (
    errorMessage.value === '데이터 전송 성공' ||
    errorMessage.value === '일치하는 정보가 없습니다.!!!'
  ) {
    router.replace({ name: 'DeliverySearch' });
  }
};

const fetchOrdQry = async () => {
  try {
    const response = await getApi(ASP_ORDER_QRY, {
      login_id: user_id,
      password,
      lc_id: window.sessionStorage['LC_ID'],
      ord_id: route.query.ord_id,
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (!response.data.DATA) {
      isShow.value = true;
      errorMessage.value = '일치하는 정보가 없습니다.!!!';
      return;
    }

    phone_number.value = response.data.DATA[0].phone1;
    driver_detail.value = response.data.DATA;
    selected_date.value = formattedDate(response.data.DATA[0].req_dt);
  } catch (err) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};

const takePicture = async (id: number) => {
  const image = await Camera.getPhoto({
    quality: PICTURE_QUALITY,
    resultType: CameraResultType.DataUrl,
    promptLabelPhoto: '앨범에서 선택',
    promptLabelPicture: '사진찍기',
  });

  const imageUrl = image.dataUrl;

  if (imageUrl) imageElement.value[id] = imageUrl;
};

const sendingFunction = async () => {
  if (memo_val.value?.value === '') {
    isShow.value = true;
    alertType.value = '';
    errorMessage.value = '출발 후 취소 사유는 필수입니다.!!!';
    return;
  }

  isShow.value = true;
  alertType.value = 'confirm';
  errorMessage.value = '출발 후 취소 요청입니다. 전송하시겠습니까?';
};

const confirmHandler = async () => {
  isShow.value = false;

  const v_cust_cd = driver_detail.value[0].dlv_etc3;
  const dlv_month = new Date().getMonth() + 1;
  const modify_key = selected_date.value.replace(/-/g, '');
  const v_customer_nm = driver_detail.value[0].customer_nm;
  const v_org_ord_id = driver_detail.value[0].dlv_etc5;
  const ord_type_val = driver_detail.value[0].dlv_etc2;

  let formData = {} as any;

  for (let index = 0; index < 9; index++) {
    if (
      typeof imageElement.value[index] !== 'undefined' &&
      imageElement.value[index] !== null
    ) {
      formData['file' + index] = imageElement.value[index].split('base64,')[1];
    }
  }

  const send_data = [
    {
      user_id,
      ord_id: route.query.ord_id,
      phone_no: driver_detail.value[0].phone1,
      serial_no: '',
      date: selected_date.value,
      memo: memo_val.value?.value,
      version: window.sessionStorage['version'],
      com_cost: '',
      cost_type: '',
      set_type: '',
      dlv_option1: '',
      dlv_option2: '',
      dlv_option3: '',
      dlv_option4: '',
      dlv_option5: 'delivery_cancel_after_start',
      dlv_option6: '',
      dlv_option7: '',
      dlv_option8: '',
      dlv_option9: '',
      dlv_option10: '',
    },
  ];

  const json_data = {
    login_id: user_id,
    password,
    work_list: send_data,
  };

  const encodedJson = btoa(
    unescape(encodeURIComponent(JSON.stringify(json_data)))
  );

  formData = {
    ...formData,
    key: encodeURI(
      v_cust_cd +
        '/' +
        dlv_month +
        '/' +
        modify_key +
        '/' +
        v_customer_nm +
        '_' +
        v_org_ord_id
    ),
    key2: encodeURI(v_customer_nm + '_' + v_org_ord_id + '_' + ord_type_val),
    key3: encodeURI(v_cust_cd),
    img_ord_id: route.query.ord_id,
    json_data: encodedJson,
  };

  formData = { ...formData, json_data: encodedJson };

  try {
    const response = await postApi(
   //   'http://master.airovtech.com:8099/proxy/' + ASP_SEND_REQ_CANCEL_DATA,
       ASP_SEND_REQ_CANCEL_DATA,
      JSON.stringify(formData),
      {
        'Content-Type': 'application/json',
      }
    );
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (response.data.SEND_DATA === 'SUCCESS') {
      isShow.value = true;
      alertType.value = '';
      errorMessage.value = '데이터 전송 성공';
    } else {
      isShow.value = true;
      alertType.value = '';
      errorMessage.value = '데이터 전송 실패 : ' + response.data.RETURN_MSG;
      return;
    }
  } catch (err: any) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-content {
  padding: 5.375rem 1.25rem 0;
  margin-bottom: 5.094rem;
}

.cancel {
  margin-top: 1.594rem;
  font-size: 0.938rem;
  letter-spacing: -0.055rem;
  font-weight: bold;
}

.cancel textarea {
  width: 100%;
  background: #fff;
  height: 3.125rem;
  margin-top: 0.688rem;
  border-radius: 0.625rem;
  border: 1px solid #a7a7a7;
  padding-left: 0.75rem;
  padding-top: 0.313rem;
}
</style>
