<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DeliveryStart.vue
 *  Description:    윈너스 모바일 딜리버리 시작 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <HeaderComp title="배송시작" />
      <div class="winus-content">
        <RequestDelivery :selected_date="selected_date"/>
        <BarcodeComp :serial_no="serial_no"  @serial_no="serial_no=$event"/>
        <StartItemList
          :driver_detail="driver_detail"
          v-if="driver_detail.length > 0"
        />
      </div>
      <FooterBtn type="2btn" :sending-function="sendingFunction" />
      <AlertComp
        v-if="isShow"
        :message="errorMessage"
        :close-function="closeHandler"
      />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { IonContent, IonPage } from '@ionic/vue';
import { useRoute, useRouter } from 'vue-router';
import { HttpParams } from '@capacitor/core';

import StartItemList from '@/components/common/start/StartItemList.vue';
import FooterBtn from '@/components/footer/FooterBtn.vue';
import HeaderComp from '@/components/header/HeaderComp.vue';
import BarcodeComp from '@/components/ui/BarcodeComp.vue';
import RequestDelivery from '@/components/ui/RequestDelivery.vue';
import AlertComp from '@/components/ui/AlertComp.vue';

import { ASP_ORDER_QRY, ASP_SEND_START_DATA, HOST_URL, LOCAL_URL } from '@/constants';
import { DetailI } from '@/types';
import { formattedDate } from '@/utils/formatted-date';
import { getApi, postApi } from '@/utils/api-hook';
import { checkPageWorkStat } from '@/utils/check-page-workstat';

// Variable Definitions
const route = useRoute();
const router = useRouter();
const WORK_STAT = checkPageWorkStat();

const driver_detail = ref([] as DetailI[]);
const work_stat = ref('' as string);
const selected_date = ref('' as string);
const ord_id = ref(route.query.ord_id as string);
const serial_no = ref('' as string);
const isShow = ref(false as boolean);
const errorMessage = ref('' as string);

const user_id = localStorage.getItem('id');
const passwd = localStorage.getItem('passwd');

// Framework Function Definitions
onMounted(() => {
  fetchOrderQry();
});

// User Function Definitions
const closeHandler = () => {
  isShow.value = false;

  if (
    errorMessage.value === '데이터 전송 성공' ||
    errorMessage.value === '일치하는 정보가 없습니다.!!!' ||
    errorMessage.value === '이미 처리된 정보 입니다.!!!'
  ) {
    router.replace({ name: 'DeliverySearch' });
  }
};

const fetchOrderQry = async () => {
  const response = await getApi(ASP_ORDER_QRY, {
    login_id: user_id,
    password: passwd,
    lc_id: window.sessionStorage['LC_ID'],
    ord_id: ord_id.value,
  } as HttpParams);
  if (response.data.ERRCODE) {
    isShow.value = true;
    errorMessage.value = response.data.MSG;
    return;
  }

  if (!response.data.DATA) {
    isShow.value = true;
    errorMessage.value = '일치하는 정보가 없습니다.!!!';
    return;
  }

  driver_detail.value = response.data.DATA;
  work_stat.value = response.data.DATA[0].work_stat;
  selected_date.value = formattedDate(response.data.DATA[0].req_dt);
};

const sendingFunction = async () => {
  if (work_stat.value !== WORK_STAT['10']) {
    isShow.value = true;
    errorMessage.value = '이미 처리된 정보 입니다.!!!';
    return;
  }

  const login_id = localStorage.getItem('id');
  const password = localStorage.getItem('passwd');

  const send_data = [
    {
      user_id: login_id,
      ord_id: route.query.ord_id,
      phone_no: driver_detail.value[0].phone2,
      date: selected_date.value,
      version: window.sessionStorage['version'],
      serial_no: serial_no.value,
    },
  ];

  try {
    const response = await postApi(
      ASP_SEND_START_DATA,
      {
        login_id,
        password,
        work_list: send_data,
      },
      {
        'Content-Type': 'application/json; charset=utf-8',
      }
    );
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (response.data.SEND_DATA === 'SUCCESS') {
      isShow.value = true;
      errorMessage.value = '데이터 전송 성공';
    } else {
      isShow.value = true;
      errorMessage.value = '데이터 전송 실패 : ' + response.data.RETURN_MSG;
      return;
    }
  } catch (err: any) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-content {
  padding: 5.375rem 1.25rem 0;
  margin-bottom: 5.094rem;
}
</style>
