<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   
 *  Description:   
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <div v-if="!scanning">
        <HeaderComp title="임가공" />
        <div class="winus-content">          
          <p class="data">
            <label><strong>임가공상품선택</strong></label>
            <select        
              name="kit_search"
              id="kit_search"                
              class="kitItem-list"                
              @change="changeItem"
              :value="kitItem"                
            >
              <option               
                v-for="kit_Item in asp_item_list"
                :key="kit_Item.RITEM_NM"                  
                :value="kit_Item.RITEM_ID"
              >
                {{ kit_Item.RITEM_NM }}
              </option>
            </select>
          </p>                  
          <CommonList
            :headers="tableHeader"
            :items="tableBody"
            :use-header="true"
            class="list-1"
          />

          
          <div class="serial">
          <label>MAINBARCODE(INBOX)</label>
            <p>
              <input
                type="text"
                id="mainserial_no"
                name="mainserial_no"                
                v-model="mainserial_no"                
              />            
            </p>
          </div>
          <div class="serial">
            <label>바코드스캔</label>
            <p>
              <input
                type="text"
                id="serial_no"
                name="serial_no"
                ref="serial_no_ref"
                v-model="serial_no"
              />
              <span>
                <img
                  src="/assets/images/btn-barcode.png"
                  id="scan_barcode"
                  @click="barcodeScan_t2"                  
                  :value="scanBcd" 
                />
              </span>
            </p>
          </div>
        
        </div>
        <FooterBtn
          :sending-function="sendingFunction"
          :saved-function="savedFunction"
        />
      </div>
      <div v-else class="cancel">
        <button @click="stopBarcodeScan">CANCEL</button>
      </div>

      <AlertComp
        v-if="isShow"
        :message="errorMessage"
        :close-function="closeHandler"
        :alert-type="alertType"
        :confirm-function="confirmHandler"
      />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, ref, Ref, computed } from 'vue';
import {
  IonContent,
  IonPage,
  useBackButton,
} from '@ionic/vue';


import { useRouter } from 'vue-router';
import { HttpParams } from '@capacitor/core';
import { BarcodeScanner } from '@capacitor-community/barcode-scanner';
import axios from 'axios';
import { v4 } from 'uuid'; 


import FooterBtn from '@/components/footer/FooterBtn.vue';
import HeaderComp from '@/components/header/HeaderComp.vue';
import DataInputComp from '@/components/ui/DateInputComp.vue'
import AlertComp from '@/components/ui/AlertComp.vue';
import CommonList from '@/components/common/utills/CommonList.vue';

import {
  WMS_KIT_ITEM_LIST,
  WMS_KIT_ITEM_DETAIL_LIST,
} from '@/constants';

import { ItemInfoListI, ItemDetailListI} from '@/types';
import { formattedDate } from '@/utils/formatted-date';
import { getApi, postApi } from '@/utils/api-hook';
import { isV8IntrinsicIdentifier } from '@babel/types';
import { ConstantTypes } from '@vue/compiler-core';


//ref 전달은 컴포넌트를 통해 자식 중 하나에 ref를 자동으로 전달

// Variable Definitions
const router = useRouter();




const asp_item_list = ref([] as ItemInfoListI[]);
const kitItem = ref('' as string);
const scanBcd = ref('' as string);
const asp_order_detail = ref([] as ItemDetailListI[]);

const scanning = ref(false as boolean);
const serial_no = ref('' as string);
const mainserial_no= ref('' as string);

const isShow = ref(false as boolean);
const errorMessage = ref('' as string);
const alertType = ref('' as string);
const serial_no_ref: Ref<HTMLInputElement | null> = ref(null);


const passwd = localStorage.getItem('passwd');
const user_id = localStorage.getItem('id');
const selected_loc_id = window.sessionStorage['LC_ID'];


let v_cust_cd = '';
let v_res_datalength ;


const tableHeader = [
  'No.', '상품명', '상품코드', '수량', '수량','SERIAL_NO'
];
const tableBody = computed(() => {
  const result = [];
  for (let i = 0; i < asp_order_detail.value.length; i++) {
    result.push([
      i,
      asp_order_detail.value[i].ritem_nm,
      asp_order_detail.value[i].ritem_cd,
      asp_order_detail.value[i].ord_qty,
      asp_order_detail.value[i].work_stat,
      asp_order_detail.value[i].cust_lot_no_m,
    ]);
  }  
  return result;
});



const validation = computed(() => {
  let result = true;
  for (let i = 0; i < asp_order_detail.value.length; i++) {
    if (asp_order_detail.value[i].ord_qty !== asp_order_detail.value[i].work_stat) {
      result = false;
      break;
    }
  }
  return result;
});


// Framework Function Definitions
onMounted(() => {
  fetchItemList();
});


// User Function Definitions
const closeHandler = () => {
  isShow.value = false;

 // if (errorMessage.value === '바코드를 인식해주세요.!!!') {
 //   serial_no_ref.value?.focus();
 // }

  if (
    errorMessage.value === '데이터 전송 성공' ||
    errorMessage.value === '일치하는 정보가 없습니다.!!!'
  ) {
    router.replace({ name: 'KitComplete' });
  }
};




const fetchItemList = async () => {
  try {
    const response = await getApi(WMS_KIT_ITEM_LIST, {
      login_id: user_id,
      password: passwd,
      lc_id: selected_loc_id,
      etc_val_1 : 'kit',
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }
    asp_item_list.value = response.data.DATA;
    
    //console.log(asp_item_list); 
   
  } catch (err) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
    return;
  }
};



const changeItem = async (e: Event) => {
  const target = e.target as HTMLSelectElement;

  kitItem.value = target.value;
  fetchItemListDetail(kitItem.value);
};

      
const scanSerial = async (e: Event) => {
  const target = e.target as HTMLSelectElement;

  scanBcd.value = target.value;
  
};

const fetchItemListDetail = async (RITEM_ID: string) => {
    try {
    const response = await getApi(WMS_KIT_ITEM_DETAIL_LIST, {
      login_id: user_id,
      password: passwd,
      lc_id: selected_loc_id,
      ritem_id : RITEM_ID,
      separator_cd: "AS_SET_PART_INFO",  
    } as HttpParams);
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (!response.data.DATA) {
        isShow.value = true;
        errorMessage.value = '임가공 상품 구성된 정보가 없습니다.';
        asp_order_detail.value = [];
        return;
    }

    asp_order_detail.value = response.data.DATA;
    v_cust_cd = response.data.DATA[0].cust_cd;
    v_res_datalength = response.data.DATA.length; 

    
    for (let index = 0; index < v_res_datalength; index++) {
      const v_item_cd = response.data.DATA[index].ritem_cd;      
      //if (v_item_cd) 
    }
    

    } catch (err) {
        console.log('err = ', err)
        isShow.value = true;
        errorMessage.value = "프로그램에 오류가 발생하였습니다.";
    }
};




const sendingFunction = async () => {

  if (!validation.value) {
    isShow.value = true;
    alertType.value = '';
    errorMessage.value = '조립 미완료 상태입니다.';
    return;
  }

  isShow.value = true;
  alertType.value = 'confirm';
  errorMessage.value = '임가공조립완료 입니다. 전송하시겠습니까?';
};




 /*데이터전송 */

const confirmHandler = async () => {

  /*
  const dlv_month = new Date().getMonth() + 1;
  const customer_filt = v_customer_nm.indexOf('(');

  if (customer_filt > 1) {
   // v_customer_nm = v_customer_nm.substring(0, customer_filt);
  }

  let formData = {} as any;


  const send_data = [];
  send_data.push({
    user_id,
    ord_id: driver_detail.value[0].ord_id,
    phone_no: driver_detail.value[0].phone1,
    serial_no: serial_no.value,
    date: selected_date.value,
    memo: memo.value,
    time_area: '',
    version: window.sessionStorage['version'],
    rti_serial_list: [] as SerialListI[],
  });

  for (let i = 0; i < asp_order_detail.value.length; i++) {
    send_data[0]['rti_serial_list'].push({
      epc_cd: '',
      item_serial_list: [
        {
          child_cust_lot_no: asp_order_detail.value[i].ord_seq,
          map_item_qty: 1,
          map_item_bar_cd: dlv_ord_type.value[i],
        },
      ],
    });
  }

  const json_data = JSON.stringify({
    login_id: user_id,
    password: passwd,
    work_list: send_data,
  });

  const encodedJson = btoa(unescape(encodeURIComponent(json_data)));

  formData = {
    ...formData,
    key: encodeURI(
      v_cust_cd +
        '/' +
        dlv_month +
        '/' +
        selected_date.value.replace(/-/g, '') +
        '/' +
        v_customer_nm +
        '_' +
        v_org_ord_id
    ),
    key2: encodeURI(v_customer_nm + '_' + v_org_ord_id + '_' + ord_type_val),
    key3: encodeURI(v_cust_cd),
    //sign: signData,
    img_ord_id: driver_detail.value[0].ord_id,
    json_data: encodedJson,
  };

 
  try {
    const response = await postApi(
      ASP_SEND_REQ_ELEC_SERIAL,
      JSON.stringify(formData),
      {
        'Content-Type': 'application/json',
      }
    );
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }

    if (response.data.SEND_DATA === 'SUCCESS') {
      isShow.value = true;
      alertType.value = '';
      errorMessage.value = '데이터 전송 성공';
    } else {
      isShow.value = true;
      alertType.value = '';
      errorMessage.value = '데이터 전송 실패 : ' + response.data.RETURN_MSG;
      return;
    }
  } catch (err: any) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
  */

};

const savedFunction = () => {
  // console.log(testList.value);
};

//tobe 
// 모든 데이터 프로시저 로 넘겨서, 입고확정 처리 
// 메인바코드스캔   리스트 돌아서, serial_no가 모두존재하고, 수량 동일한 경우 마지막에 스캔 -> 메인 바코드에 넣는다. 
// 재스캔 하고싶어하는 경우 
// ...
// 지금은 (테스트로) 상품코드만 비교하고 있음 추후 스캔하는 바코드에서 상품코드 / 시리얼 추출하여 변경 필요  

const barcodeScan_t2 = () => {
    const item = asp_order_detail.value.find(el => el.ritem_cd == serial_no.value) || {} as ItemDetailListI;
    const sanBcd = asp_order_detail.value.find(el => el.cust_lot_no_m == serial_no.value) 


    // serial_no 초기화
    const scanBacd = serial_no.value;
    serial_no.value = "";
    if (!item) {
      // 유효하지 않은 바코드를 입력했을 때
      return;
    }
    if(sanBcd){
      //시리얼 중복
      isShow.value = true;
      errorMessage.value = `${scanBacd} already Scanned `      
      return false;
    }
    if (item.ord_qty <= item.work_stat) {
      return;
    }
    if (item.work_stat) {      
      item.work_stat += 1;

    } else {
      item.work_stat = 1;           
      item.cust_lot_no_m = scanBacd;      
    }
};


const barcodeScan = async () => {
  scanning.value = true;
  const scannerTag = document.querySelector('body');

  if (scannerTag) {
    scannerTag.classList.add('scanner-active');

    useBackButton(10, () => {
      stopBarcodeScan();
      return;
    });
  }

  await BarcodeScanner.checkPermission({ force: true });

  BarcodeScanner.hideBackground();

  const result = await BarcodeScanner.startScan();

  if (result.hasContent) {
    serial_no.value = result.content;
    
  console.log(serial_no.value);
    scanning.value = false;
    document.querySelector('body')?.classList.remove('scanner-active');
  }
};

const stopBarcodeScan = () => {
  document.querySelector('body')?.classList.remove('scanner-active');
  scanning.value = false;

  BarcodeScanner.showBackground();
  BarcodeScanner.stopScan();
};


</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-content {
  padding: 5.375rem 1.25rem 0;
  margin-bottom: 5.094rem;
  height: 100%;
}

::v-deep .list-1 >  .option-head {
    /* border: #3d61e1 5px dotted; */
}

.option-desc {
  margin-top: 1.5rem;
  color: #3d61e1;
  font-size: 0.875rem;
  letter-spacing: -0.052rem;
}

.option {
  margin-top: 0.875rem;
}

.option-head {
  display: flex;
  align-items: center;
  border: 1px solid #979797;
  height: 1.688rem;
}

.option-head span {
  width: 25%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: -0.044rem;
}

.option li {
  position: relative;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  height: 1.875rem;
  border: 1px solid #979797;
  border-top: none;
  font-size: 0.75rem;
  letter-spacing: -0.044rem;
}

.option li span {
  color: #181818;
}

.option li span:nth-child(4) {
  color: #3d61e1;
  font-weight: bold;
}

.option li span {
  width: 25%;
  text-align: center;
}

.more {
  position: absolute;
  right: -2.175rem;
  top: 0.313rem;
}

.camera-desc p:nth-child(1) {
  font-weight: bold;
  font-size: 0.938rem;
  margin-top: 1.5rem;
  letter-spacing: -0.055rem;
  color: #181818;
}

hr {
  margin-top: 1.563rem;
  background: #979797;
  height: 0.034rem;
}

.install-desc {
  margin-top: 1.5rem;
  letter-spacing: -0.052rem;
  color: #3d61e1;
  font-size: 0.875rem;
}

.select-div {
  margin-top: 1.031rem;
}

.select-div p {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
}

.select-div select {
  width: 100%;
  background: none;
  border: 1px solid #a7a7a7;
  height: 3.125rem;
  border-radius: 0.625rem;
  padding-left: 0.75rem;
  letter-spacing: -0.059rem;
  margin-top: 0.625rem;
}

.select-div div {
  position: relative;
}
.select-div span {
  position: absolute;
  right: 0.844rem;
  top: 55%;
  transform: translateY(-50%);
}

.text-div {
  margin-top: 1.031rem;
}
.text-div p {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
}

.text-div textarea,
.text-div input {
  width: 100%;
  background: #fff;
  margin-top: 0.625rem;
  border: 1px solid #a7a7a7;
  height: 3.125rem;
  border-radius: 0.625rem;
  padding-left: 0.75rem;
}

.signature {
  margin-top: 1.031rem;
}

.signature p {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
}

.signature-form {
  margin-top: 0.688rem;
  border: 1px solid #a7a7a7;
  border-radius: 0.625rem 0.625rem 0 0;
  border-bottom: none;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.688rem auto 0;
  background-color: #f7f7f7;
  height: 10.438rem;
}

.signature-form canvas {
  border-radius: 0.625rem 0.625rem 0 0;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-color: #fff;
}

.btn-area {
  display: flex;
  justify-content: space-between;
}

.btn-area a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 2.813rem;
  font-weight: bold;
  letter-spacing: -0.059rem;
  color: #3d61e1;
}

.btn-area a:nth-child(1) {
  border: 1px solid #3d61e1;
  border-radius: 0 0 0 0.625rem;
}

.btn-area a:nth-child(2) {
  border: 1px solid #3d61e1;
  border-radius: 0 0 0.625rem 0;
  border-left: none;
}

.cancel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 3.594rem;
  background: #3d61e1;
}

.cancel button {
  width: 100%;
  background: transparent;
  font-weight: bold;
  color: #fff;
  font-size: 1.188rem;
}

.serial {
  margin-top: 1.594rem;
}

.serial label:nth-child(1) {
  display: block;
  font-weight: bold;
  font-size: 0.938rem;
  letter-spacing: -0.055rem;
}

.serial label:nth-child(2) {
  display: block;
  margin-top: 0.656rem;
  font-size: 0.875rem;
  letter-spacing: -0.062rem;
  color: #7b7b7b;
}

.serial p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.688rem;
}

.serial input {
  background: #fff;
  width: 71%;
  height: 3.125rem;
  border-radius: 0.625rem;
  border: 1px solid #737373;
  padding-left: 0.75rem;
  letter-spacing: -0.059rem;
}

.serial span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  height: 3.125rem;
  width: 25%;
  background-color: #080d2c;
}

.serial img {
  width: 1.844rem;
}

#kit_search {
  margin-top: 1.076rem;
  display: block;
  width: 100%;
  height: 3.125rem;
  border-radius: 0.313rem;
  color: #181818;
  letter-spacing: -0.059rem;
  font-size: 1rem;
  border: 1px solid #a7a7a7;
  background: #fff;
  padding-left: 0.75rem;

  background-image: url(/public/assets/images/btn-selectbox-open.png);
  background-repeat: no-repeat;
  background-size: auto 1.688rem;
  background-position: calc(100% - 0.313rem) 50%;
}


.data {
  margin-top: 1.156rem;
}
</style>
