<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	ElecItemList.vue
 *  Description:    공통 리스트 컴포넌트
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="option">
    <div v-if="useHeader" class="option-head">
      <span
        v-for="(header, index) in headers"
        :key="index"
      >
        {{ header }}
      </span>
    </div>
    <ul>
      <li v-for="(item, index) in items" :key="index">
        <span
          v-for="(data, index) in item"
          :key="index"
        >
          {{ data }}
        </span>
      </li>
    </ul>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType } from 'vue';

// Variable Definitions
const props = defineProps({
  items: {
    type: Array,
    default: () => [],
  },
  headers: {
    type: Array as PropType<string[]>,
    require: false,
  },
  useHeader: {
    type: Boolean,
    default: false,
  }
});

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.option-desc {
  margin-top: 1.5rem;
  color: #3d61e1;
  font-size: 0.875rem;
  letter-spacing: -0.052rem;
}

.option {
  margin-top: 0.875rem;
}

.option-head {
  display: flex;
  align-items: center;
  border: 1px solid #979797;
  height: 1.688rem;
}

.option-head span {
  width: 25%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: -0.044rem;
}

.option li {
  position: relative;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  height: 1.875rem;
  border: 1px solid #979797;
  border-top: none;
  font-size: 0.75rem;
  letter-spacing: -0.044rem;
}

.option li span {
  color: #181818;
}

.option li span:nth-child(4) {
  color: #3d61e1;
  font-weight: bold;
}

.option li span {
  width: 25%;
  text-align: center;
}
</style>
