<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	SearchItemList.vue
 *  Description:    윈너스 모바일 딜리버리 배송항목 검색 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="list" id="item-list">
    <ul
      v-for="(data, index) in driver_detail"
      :key="data.customer_nm"
      :style="{
        borderBottom:
          data.work_stat === WORK_STAT['99'] ? '1px solid #979797' : 'none',
      }"
    >
      <li>
        <dl>
          <dt id="item-list-pre-header">
            <span>
              {{ data.customer_nm }}
            </span>
            <div :style="{ backgroundColor: preHeaderBg(data.work_stat) }">
              <span class="work-stat">
                {{ data.work_stat }}
              </span>
            </div>
          </dt>
          <dd id="item-list-header">
            <span>
              시간지정 여부
              <img
                :src="data.dlv_time_from! > 0 ? '/assets/images/img-y.png' : '/assets/images/img-n.png'"
                class="ny-icon"
              />
            </span>
            <span>
              H/D 여부
              <img
                :src="
                  data.dlv_visit_cost > 0
                    ? '/assets/images/img-y.png'
                    : '/assets/images/img-n.png'
                "
                class="ny-icon"
              />
            </span>
            <span>
              해피콜 여부
              <img
                :src="
                  data.happy_call_yn === 'N'
                    ? '/assets/images/img-n.png'
                    : '/assets/images/img-y.png'
                "
                class="ny-icon"
              />
            </span>
          </dd>
          <dd id="item-list-body">
            전화번호 : {{ data.phone1 }} <br />
            전화번호 : {{ data.phone2 }} <br />
            등록구분 : {{ data.dlv_ord_type }} <br />
            주소 : {{ data.addr }} <br />
            <span v-if="data.product_nm"
              >상품명1 : {{ data.product_nm }} <br
            /></span>
            <span v-if="data.product_nm2"
              >상품명2 : {{ data.product_nm2 }} <br
            /></span>
            <span v-if="data.product_nm3"
              >상품명3 : {{ data.product_nm3 }} <br
            /></span>
            <span v-if="data.product_nm4"
              >상품명4 : {{ data.product_nm4 }} <br
            /></span>
            <span v-if="data.product_nm5"
              >상품명5 : {{ data.product_nm5 }} <br
            /></span>
            <span v-if="data.product_nm6"
              >상품명6 : {{ data.product_nm6 }} <br
            /></span>
            <span v-if="data.product_nm7"
              >상품명7 : {{ data.product_nm7 }} <br
            /></span>
            <span v-if="data.product_nm8"
              >상품명8 : {{ data.product_nm8 }} <br
            /></span>
            기사명 : {{ data.driver_nm }} <br />
            <span v-if="data.dlv_etc1"
              >인수증메모 : {{ data.dlv_etc1 }} <br
            /></span>
          </dd>
          <div class="btn-container" v-if="data.work_stat !== WORK_STAT['99']">
            <dd class="btn-area2">
              <button
                @click="protectRoute(index, 'DeliveryManage', data.ord_id)"
              >
                해피콜
              </button>
              <button @click="sendMsg(index)">문자전송</button>
            </dd>
            <dd class="btn-area2">
              <button @click="protectRoute(index, 'DateChange', data.ord_id)">
                배송예정일 변경
              </button>
              <button
                @click="protectRoute(index, 'DeliveryCancel', data.ord_id)"
              >
                취소요청
              </button>
            </dd>
            <dd class="btn-area2">
              <button
                :style="{
                  backgroundColor:
                    data.work_stat === WORK_STAT['10'] ? '#3d61e1' : '',
                  color:
                    data.work_stat === WORK_STAT['10'] ? 'white' : '#3d61e1',
                }"
                @click="protectRoute(index, 'DeliveryStart', data.ord_id)"
              >
                배송 출발
              </button>
              <button
                :style="{
                  backgroundColor:
                    data.work_stat === WORK_STAT['20'] ? '#1D8B15' : '',
                  color:
                    data.work_stat === WORK_STAT['20'] ? 'white' : '#3d61e1',
                }"
                @click="protectRoute(index, 'DeliveryCancelAfter', data.ord_id)"
              >
                출발 후 취소
              </button>
            </dd>
            <dd class="btn-area2">
              <button
                :style="{
                  backgroundColor:
                    data.work_stat === WORK_STAT['20'] ? '#3d61e1' : '',
                  color:
                    data.work_stat === WORK_STAT['20'] ? 'white' : '#3d61e1',
                }"
                @click="protectRoute(index, 'CompleteSerial', data.ord_id)"
              >
                배송완료
              </button>
              <button
                @click="
                  router.push({
                    name: 'DetailSearch',
                    query: {
                      ord_id: data.ord_id,
                    },
                  })
                "
              >
                상품조회
              </button>
            </dd>
          </div>
        </dl>
      </li>
    </ul>
  </div>
  <AlertComp
    v-if="isShow"
    :close-function="closeHandler"
    :message="errorMessage"
  />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType, ref } from 'vue';
import { useRouter } from 'vue-router';

import AlertComp from '@/components/ui/AlertComp.vue';

import {
  SMS_MESSAGE1,
  SMS_MESSAGE2,
  SMS_MESSAGE3,
  SMS_MESSAGE4,
  SMS_MESSAGE5,
  SMS_MESSAGE6,
  SMS_MESSAGE7,
  SMS_MESSAGE8,
} from '@/constants';
import { ASP_SEND_MESSAGE_DATA, HOST_URL } from '@/constants';
import { DetailI } from '@/types';
import { postApi } from '@/utils/api-hook';
import { checkPageWorkStat } from '@/utils/check-page-workstat';

// Variable Definitions

const WORK_STAT = checkPageWorkStat();
const router = useRouter();
import { formattedFromDate } from '@/utils/formatted-date';

const isShow = ref(false as boolean);
const errorMessage = ref('' as string);
const selected_date = ref(formattedFromDate(new Date()) as string);

const props = defineProps({
  driver_detail: {
    type: Array as PropType<DetailI[]>,
    default: () => [],
  },
});

// Framework Function Definitions

// User Function Definitions
const closeHandler = () => {
  isShow.value = false;
};

const preHeaderBg = (work_stat: string) =>
  work_stat === WORK_STAT['10']
    ? '#A566FF'
    : work_stat === WORK_STAT['20']
    ? '#4374D9'
    : work_stat === WORK_STAT['90']
    ? '#F15F5F'
    : '#1D8B15';

const sendMsg = async (index: number) => {
  const call_phone = props.driver_detail[index].phone2;
  const login_id = localStorage.getItem('id');
  const password = localStorage.getItem('passwd');
  const memo =
    props.driver_detail[index].customer_nm +
    SMS_MESSAGE1 +
    props.driver_detail[index].product_nm +
    SMS_MESSAGE2 +
    SMS_MESSAGE3 +
    SMS_MESSAGE4 +
    props.driver_detail[index].customer_nm +
    SMS_MESSAGE5 +
    props.driver_detail[index].addr +
    SMS_MESSAGE6 +
    SMS_MESSAGE7 +
    props.driver_detail[index].driver_nm +
    SMS_MESSAGE8 +
    props.driver_detail[index].driver_phone;

  const send_data = [
    {
      user_id: login_id,
      ord_id: props.driver_detail[index].ord_id,
      phone_no: '',
      serial_no: '',
      date: selected_date.value,
      memo: memo,
      time_area: '',
      version: window.sessionStorage['version'],
    },
  ];

  const response = await postApi(
    //HOST_URL + '/' + ASP_SEND_MESSAGE_DATA,
    ASP_SEND_MESSAGE_DATA,
    {
      login_id,
      password,
      work_list: send_data,
    },
    {
      'Content-Type': 'application/json; charset=utf-8',
    }
  );
  if (response.data.ERRCODE) {
    isShow.value = true;
    errorMessage.value = response.data.MSG;
    return;
  }

  window.location.href = `sms:${call_phone}?body=${memo}`;
};

const protectRoute = (index: number, name: string, ord_id: string) => {
  // 배송 보류
  if (
    props.driver_detail[index].work_stat === WORK_STAT['09'] &&
    name === 'DateChange'
  ) {
    isShow.value = true;
    errorMessage.value = '배송보류상태에서 접근 불가';
    return;
  }

  // 배송대기
  if (
    props.driver_detail[index].work_stat === WORK_STAT['10'] &&
    (name === 'DeliveryCancelAfter' ||
      name === 'CompleteSerial' ||
      name === 'DeliveryCancel')
  ) {
    isShow.value = true;
    errorMessage.value = '배송출발이 되지 않은 주문입니다.!!!';
    return;
  }

  // 배송출발
  if (props.driver_detail[index].work_stat === WORK_STAT['20']) {
    // 배송출발
  }

  // 출발 후 취소
  if (
    props.driver_detail[index].work_stat === WORK_STAT['21'] &&
    name === 'DateChange'
  ) {
    isShow.value = true;
    errorMessage.value = '출발 후 취소상태에서 접근 불가';
    return;
  }

  // 현장취소
  if (
    props.driver_detail[index].work_stat === WORK_STAT['30'] &&
    name === 'DateChange'
  ) {
    isShow.value = true;
    errorMessage.value = '현장취소상태에서 접근 불가';
    return;
  }

  // 미배송
  if (
    props.driver_detail[index].work_stat === WORK_STAT['80'] &&
    name === 'DateChange'
  ) {
    isShow.value = true;
    errorMessage.value = '미배송상태에서 접근 불가';
    return;
  }

  // 초도불량
  if (
    props.driver_detail[index].work_stat === WORK_STAT['87'] &&
    name === 'DateChange'
  ) {
    isShow.value = true;
    errorMessage.value = '초도불량상태에서 접근 불가';
    return;
  }

  // 취소요청
  if (props.driver_detail[index].work_stat === WORK_STAT['89']) {
    isShow.value = true;
    errorMessage.value = '취소요청상태에서 접근 불가';
    return;
  }

  // 취소
  if (
    props.driver_detail[index].work_stat === WORK_STAT['90'] &&
    name === 'DateChange'
  ) {
    isShow.value = true;
    errorMessage.value = '취소상태에서 접근 불가';
    return;
  }

  // 펑크
  if (
    props.driver_detail[index].work_stat === WORK_STAT['91'] &&
    name === 'DateChange'
  ) {
    isShow.value = true;
    errorMessage.value = '펑크상태에서 접근 불가';
    return;
  }

  router.push({
    name,
    query: {
      ord_id,
    },
  });
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
#item-list ul {
  margin-top: 29px;
}

#item-list-pre-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.656rem;
  color: #fff;
  background-color: #080d2c;
  font-weight: bold;
  padding: 0 0.594rem 0 0.938rem;
  border: 1px solid #979797;
  border-bottom: none;
}

#item-list-pre-header > div {
  height: 1.781rem;
  border-radius: 0.906rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.344rem 0.563rem 0.375rem 0.594rem;
}

.work-stat {
  display: block;
  color: #fff;
  font-size: 0.875rem;
}

#item-list-header {
  height: 2.281rem;
  border: 1px solid #979797;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#item-list-header span {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 0.75rem;
  letter-spacing: -0.044rem;
}

#item-list-body {
  background-color: #f7f7f7;
  font-size: 0.875rem;
  letter-spacing: -0.015rem;
  line-height: 1.406rem;
  padding: 0.75rem 0 1.281rem 0.844rem;
  color: #181818;
  border: 1px solid #979797;
  border-bottom: none;
}

.btn-container {
  border-bottom: 1px solid #3d61e1;
}

.btn-area2 button {
  width: 50%;
  height: 2.813rem;
  background-color: #fff;
  border: 1px solid #3d61e1;
  color: #3d61e1;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.059rem;
}

.btn-area2 button:nth-child(1) {
  border-bottom: none;
  border-right: none;
}

.btn-area2 button:nth-child(2) {
  border-bottom: none;
}

.ny-icon {
  width: 1rem;
}
</style>
