<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	SrhMemoItemList.vue
 *  Description:    윈너스 모바일 딜리버리 접수메모 항목 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="code" id="item_list" v-if="search_qry.length > 0">
    <dl v-for="(data, index) in search_qry" :key="index">
      <dt>
        <p>{{ data.customer_nm }}</p>
        <p :style="{ backgroundColor: listHeaderBg(data.work_stat) }">
          {{ data.work_stat }}
        </p>
      </dt>
      <dd>
        설치유형 : {{ data.dlv_etc4 }}<br />
        <span v-if="data.phone1 === data.phone2"
          >핸드폰 번호 : {{ data.phone1 }}<br
        /></span>
        <span v-else>
          핸드폰 번호 : {{ data.phone1 }} || {{ data.phone2 }}<br />
        </span>
        상품명 : {{ data.product_nm }}<br />
        주소 : {{ data.addr }}<br />
        인수증메모 : {{ data.etc1 || '없음' }}<br />
      </dd>
    </dl>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType } from 'vue';

import { SrhMemoListI } from '@/types';
import { checkPageWorkStat } from '@/utils/check-page-workstat';

// Variable Definitions
const WORK_STAT = checkPageWorkStat();

const props = defineProps({
  search_qry: {
    type: Array as PropType<SrhMemoListI[]>,
    default: () => [],
  },
});

// Framework Function Definitions

// User Function Definitions
const listHeaderBg = (work_stat: string) =>
  work_stat === WORK_STAT['10']
    ? '#86E57F'
    : work_stat === WORK_STAT['20']
    ? '#3d61e1'
    : '#F15F5F';
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.code {
  margin-top: 1.594rem;
}

dt {
  height: 2.656rem;
  background-color: #080d2c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.938rem;
  padding-right: 0.594rem;
}

dt p:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.781rem;
  padding: 0.344rem 0.563rem 0.375rem;
  border-radius: 0.906rem;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: -0.052rem;
}

dd {
  background-color: #f7f7f7;
  border: 1px solid #979797;
  padding: 1rem 0.594rem 1.094rem 0.844rem;
  font-size: 0.875rem;
  line-height: 1.61;
  letter-spacing: -0.015rem;
  color: #181818;
}
</style>
