<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DeliveryPage.vue
 *  Description:    윈너스 모바일 딜리버리 배송 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <div class="winus-wrapper">
        <div data-role="page" id="page_menu">
          <HeaderComp title="배송" type="delivery" />
          <ListComp :items="DELIVERY_LIST" />
        </div>
      </div>
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { IonContent, IonPage } from '@ionic/vue';

import HeaderComp from '@/components/header/HeaderComp.vue';
import ListComp from '@/components/ListComp.vue';

import { DELIVERY_LIST } from '@/constants';

// Variable Definitions

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped></style>
