<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	LoginPage.vue
 *  Description:    윈너스 모바일 딜리버리 로그인 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent class="winus">
      <div class="winus-login-wrapper">
        <header class="winus-header">
          <img src="/assets/images/group-5.png" alt="" />
        </header>

        <div class="winus-content">
          <img src="/assets/images/img-login-delivery.png" class="cover-logo" />
        </div>
        <form @submit.prevent="loginHandler" class="login-form">
          <h2 class="ui-hidden-accessible">LOGIN</h2>
          <p class="keyboard-view">
            <span :class="{ show: showKeyboard }" @click="keyboardHandler"
              >한글자판보기</span
            >
            <img src="/assets/images/btn-keyboard.png" />
          </p>
          <div v-if="showKeyboard" id="winus-keyboard"></div>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="아이디를 입력하세요."
            autocomplete="on"
            v-model="username"
            autocapitalize="off"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="비밀번호를 입력하세요."
            autocomplete="off"
            v-model="password"
          />
          <button type="submit">LOGIN</button>
        </form>
        <FooterComp type="login" />
              </div>
      <AlertComp
        v-if="isShow"
        :message="errorMessage"
        :close-function="closeHandler"
      />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useRouter } from 'vue-router';
import { IonContent, IonPage } from '@ionic/vue';
import axios from 'axios';

import FooterComp from '@/components/footer/FooterComp.vue';
import AlertComp from '@/components/ui/AlertComp.vue';

import { LOGIN_QRY } from '@/constants';
import { checkLastestVersion } from '@/utils/check-version';
import { getApi } from '@/utils/api-hook';

// Variable Definitions
const router = useRouter();

const showKeyboard = ref(false as boolean);
const username = ref('' as string);
const password = ref('' as string);
const isShow = ref(false as boolean);
const errorMessage = ref('' as string);

// Framework Function Definitions
onMounted(() => {
  window.sessionStorage['version'] = '1.0.34';
  window.sessionStorage['DLV_SRH_YN'] = 'N'; //배송 주문 조회 상태 값
  window.sessionStorage['DLV_ORD_ID'] = 'A'; //배송 주문 번호
  window.sessionStorage['originalPicture0'] = 'A'; //배송사진0

  localStorage.clear();

  checkLastestVersion();

  console.log("ENV : " + process.env.VUE_APP_TARGET);
});

// User Function Definitions
const keyboardHandler = () => {
  showKeyboard.value = !showKeyboard.value;
};

const closeHandler = () => {
  isShow.value = false;
};

const loginHandler = async () => {
  if (username.value.trim() === '' || password.value.trim() === '') {
    isShow.value = true;
    errorMessage.value = '아이디 또는 비밀번호를 확인하세요.';
    return;
  }
  try {
    const response = await getApi(LOGIN_QRY, {
      login_id: username.value,
      password: password.value,
    });
    if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
    }
    const jsonData = response.data.DATA;

    for (let index = 0; index < jsonData.length; index++) {
      window.sessionStorage['LC_ID'] = jsonData[index].lc_id;
      window.sessionStorage['USER_NO'] = jsonData[index].user_no;
      window.sessionStorage['LANG'] = jsonData[index].lang;
      window.sessionStorage['AUTH_CD'] = jsonData[index].remark; // x
      window.sessionStorage['LC_NM'] = jsonData[index].program_id; // x
    }

    if (username.value && password.value) {
      localStorage.setItem('id', username.value);
      localStorage.setItem('passwd', password.value);
      localStorage.setItem('phone', jsonData[0].prop_chk);
    }

    router.replace({ name: 'Menu' });
  } catch (err) {
    console.log('err = ', err)
    isShow.value = true;
    errorMessage.value = "프로그램에 오류가 발생하였습니다.";
  }
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
  ion-content {
    --background: #142b79;
  }

  .winus-header {
    height: 10.25rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .winus-header img {
    width: 7.25rem;
  }

  .winus-content {
    position: relative;
    height: 29%;
  }

  .cover-logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .keyboard-view {
    position: absolute;
    top: -1.5rem;
    right: 0;
    display: flex;
    gap: 0.844rem;
    margin-right: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .keyboard-view span {
    font-size: 0.938rem;
    letter-spacing: -0.055rem;
    color: #fff;
    text-decoration: underline;
  }

  .keyboard-view img {
    width: 2.25rem;
  }

  #winus-keyboard {
    height: 6rem;
    background: url(/public/assets/images/img_keyboard.png) no-repeat 50% 50%;
    background-size: contain;
    display: block;
    margin: 0.469rem 1.25rem 0;
  }

  .login-form {
    padding: 0 1.25rem;
    position: relative;
  }

  .login-form input {
    width: 100%;
    height: 3.125rem;
    border-radius: 0.625rem;
    background-color: transparent;
    border: 1px solid #fff;
    padding-left: 0.844rem;
    letter-spacing: -0.055rem;
    color: #fff;
  }

  .login-form input::placeholder {
    font-size: 0.938rem;
    color: #fff;
    opacity: 0.5;
  }

  #username {
    margin-top: 1.031rem;
  }

  #password {
    margin-top: 1.25rem;
  }

  .login-form button {
    width: 100%;
    height: 4rem;
    border-radius: 2rem;
    margin-top: 1.25rem;
    background-color: #3d61e1;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: -0.073rem;
  }

  @media screen and (orientation: landscape) {
    .winus-login-wrapper {
      height: 100vh;
      position: relative;
    }
    .winus-header {
      position: absolute;
      width: 14%;
      left: 50%;
      transform: translateX(-50%);
      top: 5%;
      height: auto;
    }

    .winus-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 2.675rem;
      width: fit-content;
      display: inline-block;
      height: auto;
      width: 28%;
    }

    .cover-logo {
      content: url('/public/assets/images/img-login-delivery-main.png');
      width: 16.5rem;
    }

    .login-form {
      position: absolute;
      top: 50%;
      right: 3.313rem;
      transform: translateY(-50%);
      width: 41%;
      z-index: 9999;
    }

    .login-form input {
      display: block;
      height: 10vh;
    }

    .login-form button {
      height: 10vh;
    }
}
</style>
