<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	MenuPage.vue
 *  Description:    윈너스 모바일 딜리버리 메뉴 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonPage>
    <IonContent>
      <HeaderComp :title="title" type="menu" />
      <ListComp :items="MENU_LIST" />
      <FooterComp />
    </IonContent>
  </IonPage>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { computed } from 'vue';
import { IonContent, IonPage } from '@ionic/vue';

import FooterComp from '@/components/footer/FooterComp.vue';
import HeaderComp from '@/components/header/HeaderComp.vue';
import ListComp from '@/components/ListComp.vue';

import { MENU_LIST } from '@/constants';

// Variable Definitions
const title = computed(() => window.sessionStorage['LC_NM']);

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
</style>