<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	AsElecItemList.vue
 *  Description:    윈너스 모바일 딜리버리 AS 항목 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="code" id="item_list">
    <dl
      :id="`item_list_${index}`"
      v-for="(data, index) in driver_detail"
      :key="index"
    >
      <dt>{{ data.phone1 }} || {{ data.phone2 }}</dt>
      <dd>
        설치유형 : {{ data.dlv_etc4 }} <br />
        고객명 : {{ data.customer_nm }} <br />
        모델명 : {{ data.product_nm }} <br />
        주소 : {{ data.addr }} <br />
      </dd>
    </dl>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType } from 'vue';

import { DetailI } from '@/types';

// Variable Definitions
const props = defineProps({
  driver_detail: {
    type: Array as PropType<DetailI[]>,
    default: () => [],
  },
});

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.code {
  margin-top: 1.594rem;
}

dt {
  display: flex;
  align-items: center;
  height: 2.656rem;
  background-color: #080d2c;
  color: #fff;
  padding-left: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.059rem;
}

dd {
  border: solid 1px #979797;
  padding: 1rem 0.594rem 0.75rem 0.844rem;
  line-height: 1.61;
  letter-spacing: -0.015rem;
  color: #181818;
  font-size: 0.875rem;
  background-color: #f7f7f7;
}
</style>
