<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	ProdItemList.vue
 *  Description:    윈너스 모바일 딜리버리 사용 부품 항목 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="container">
    <p>사용 부품 입력</p>
    <div class="button-container">
      <button class="add" @click="addTestArr">
        <img src="/assets/images/btn-add.png" />
      </button>
      <button class="barcode">
        <img src="/assets/images/btn-barcode.png" />
      </button>
      <button class="reset" @click="resetArr">
        <img src="/assets/images/btn-delete.png" />
      </button>
    </div>
    <div class="list-container">
      <div class="list-header">
        <span>부품명</span>
        <span>수량</span>
        <span>단가</span>
        <span>판매가</span>
      </div>
      <ul class="list">
        <li v-for="data in testList" :key="data.id">
          <button @click="deleteArr(data.id)">
            <img src="/assets/images/btn-cancel.png" />
          </button>
          <div class="input-container">
            <input type="text" v-model="data.test1" />
            <input type="text" v-model="data.test2" />
            <input type="text" v-model="data.test3" />
            <input type="text" v-model="data.test4" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

 <!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType } from 'vue';

// Variable Definitions
interface TestI {
  id: string;
  test1: string;
  test2: string;
  test3: string;
  test4: string;
}

const props = defineProps({
  testList: {
    type: Array as PropType<TestI[]>,
    default: () => [],
  },

  addTestArr: {
    type: Function as unknown as () => () => void,
  },

  resetArr: {
    type: Function as unknown as () => () => void,
  },

  deleteArr: {
    type: Function as unknown as () => (id: string) => void,
    required: true,
  },
});

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.container {
  margin-top: 1.031rem;
  position: relative;
}

.container p {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
}

.list-container {
  width: 100%;
  margin-top: 0.688rem;
  border: solid 1px #979797;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 1.688rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding-left: 2rem;
}

.list {
  background-color: #f7f7f7;
  padding: 0 0.469rem;
  border-top: solid 1px #979797;
  display: flex;
  flex-flow: column;
}

button {
  display: flex;
  align-items: center;
  border-radius: 0.469rem;
  justify-content: center;
}

.list button {
  background-color: #f1424c;
  width: 1.563rem;
  height: 1.563rem;
  margin-right: 0.5rem;
}

.list button img {
  width: 1rem;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 0.469rem 0;
  flex: auto;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-container input {
  width: 23%;
  border: solid 1px #979797;
  background-color: #fff;
}

.button-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 0.625rem;
}

.button-container button {
  height: 1.563rem;
}

.add {
  background-color: #3d61e1;
  width: 1.563rem;
}

.add img {
  width: 1rem;
}

.barcode {
  width: 3.125rem;
  background-color: #080d2c;
}

.barcode img {
  width: 1.313rem;
}

.reset {
  background-color: #080d2c;
  width: 1.563rem;
}

.reset img {
  width: 1rem;
}
</style>
