<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	HeaderComp.vue
 *  Description:    윈너스 모바일 딜리버리 Header Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <header class="winus-header">
    <div class="header-inner">
      <div v-if="type === 'menu'" class="winus-header-btn">
        <span @click="logoutHandler" class="left-btn">{{ leftBtn }}</span>
      </div>
      <div v-else-if="type === 'delivery'" class="home-logo">
        <img
          src="/assets/images/btn-home.png"
          alt="home-logo"
          @click="logoutHandler"
        />
      </div>
      <div v-else class="home-logo">
        <img
          src="/assets/images/btn-menu.png"
          alt="home-logo"
          @click="logoutHandler"
        />
      </div>
      <img src="/assets/images/logo_header.png" alt="logo" class="logo" />
    </div>
    <h1 id="lc_cd">{{ title }}</h1>
  </header>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts" setup>
import { computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';

// Variable Definitions
const router = useRouter();
const route = useRoute();

const props = defineProps({
  title: {
    type: String,
  },
  type: {
    type: String,
  },
});

// Framework Function Definitions

// User Function Definitions
const logoutHandler = () => {
  if (route.path === '/menu') {
    localStorage.clear();
    sessionStorage.clear();
    router.replace({ name: 'Login' });
  } else {
    router.push({ name: 'Menu' });
  }
};

const leftBtn = computed(() => (route.path === '/menu' ? 'LOGOUT' : 'MAIN'));
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.winus-header {
  align-items: center;
  background: #142b79;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.header-inner {
  position: relative;
  width: 100%;
  height: 3.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winus-header-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1.297rem;
  height: 1.563rem;
  border-radius: 0.469rem;
  border: 0.031rem solid #fff;
  padding: 0.219rem 0.531rem;
}
.left-btn {
  height: 1.125rem;
  font-size: 0.938rem;
  letter-spacing: -0.055rem;
  font-family: Pretendard;
  text-align: center;
  color: #fff;
}

.logo {
  display: block;
  width: 2.813rem;
  height: 1.063rem;
  object-fit: contain;
}
.winus-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.563rem;
  background-color: #3d61e1;
  color: #fff;
  font-size: 1.063rem;
  font-weight: bold;
  letter-spacing: -0.063rem;
  padding: 1rem 0;
}

.home-logo {
  position: absolute;
  display: flex;
  align-items: center;
  width: 1.688rem;
  left: 1.297rem;
}
</style>
