/*------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	reset-css.css
 *  Description:    css 변수를 정의하는 scss 파일
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y. S. Jung
 *
------------------------------------------------------------------------------*/
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&subset=korean');

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a > * {
  line-height: 0;
}
img {
  border: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Malgun Gothic', Arial, Helvetica, sans-serif;
}
a,
a:hover {
  color: #000;
}
a,
a:focus,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  margin: 0;
}
li {
  list-style: none;
}
body,
p,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
select,
input[type='text'],
input[type='password'],
input[type='submit'],
input[type='button'] {
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

*.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.ui-disabled {
  opacity: 0.3;
  cursor: default !important;
  pointer-events: none;
}

.ui-hidden-accessible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.ion-overlay-wrapper.loading-wrapper {
  background-color: rgba(255,255,255,0);
  box-shadow: none;;
}
