<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DatePicker.vue
 *  Description:    윈너스 모바일 딜리버리 날짜선택 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonDatetime
    presentation="date"
    :show-default-buttons="true"
    done-text="확인"
    cancel-text="취소"
    @ion-cancel="cancel"
    @ion-change="onChange"
    class="date"
  />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { IonDatetime, useIonRouter } from '@ionic/vue';

// Variable Definitions
const props = defineProps({
  hideCalendar: Function,
  selectDate: Function,
});
// Framework Function Definitions

// User Function Definitions
const cancel = () => {
  if (props.hideCalendar) {
    props.hideCalendar();
  }
};

const onChange = (date: CustomEvent) => {
  if (props.selectDate && props.hideCalendar) {
    if (date.detail.value) {
      props.selectDate(date.detail.value.slice(0, 10));
      props.hideCalendar();
    } else {
      props.hideCalendar();
    }
  }
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.date {
  border: 1px solid #aca8a8;
  border-radius: 0.625rem;
  margin-top: 1rem;
}
</style>
