<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	GridHeader.vue
 *  Description:    윈너스 모바일 딜리버리 그리드 헤더 컴포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="grid_header" class="count">
    <table id="h_tbl">
      <thead>
        <tr>
          <th>TOTAL</th>
          <th>대기</th>
          <th>출발</th>
          <th>완료</th>
          <th>기타</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ total_qty }}</td>
          <td>{{ ready_qty }}</td>
          <td>{{ departure_qty }}</td>
          <td>{{ complete_qty }}</td>
          <td>{{ else_qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">

// Variable Definitions
const props = defineProps({
  total_qty: {
    type: Number,
  },
  ready_qty: {
    type: Number,
  },
  departure_qty: {
    type: Number,
  },
  complete_qty: {
    type: Number,
  },
  else_qty: {
    type: Number,
  },
});

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.count {
  height: 4.844rem;
  margin-top: 1.5rem;
  background-color: #3d61e1;
  padding: 0.656rem 0.75rem 0;
  border-radius: 0.625rem;
}

.count::after {
  display: block;
  content: '';
  height: 1.563rem;
  border-bottom: 1px solid #979797;
}

table {
  width: 100%;
  color: #fff;
}

th {
  font-size: 0.938rem;
  font-weight: 500;
  letter-spacing: -0.055rem;
}

tbody::before {
  content: '';
  display: block;
  height: 0.313rem;
}

td {
  font-weight: bold;
  font-size: 1.563rem;
  text-align: center;
  width: 20%;
}
</style>
