<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	ListComp.vue
 *  Description:    윈너스 모바일 딜리버리 바디에서 목록을 보여주는 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="page-menu">
    <ul>
      <li v-for="item in listItems" :key="item.id">
        <span class="menu-list-category">{{ item.category }}</span>
        <ul>
          <li
            v-for="listItem in item.list"
            :key="listItem.id"
            class="menu-item"
          >
            <span @click="() => router.push(listItem.path)"
              >{{ listItem.title }}
              <img
                src="/assets/images/btn-next-menu.png"
                alt="arrow-icon"
                class="arrow-icon"
              />
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts" setup>
import { Ref, toRef } from 'vue';
import { useRouter } from 'vue-router';

import { ListItemI } from '@/constants';

// Variable Definitions

const router = useRouter();

const props = defineProps({
  items: {
    type: Array as () => ListItemI[],
    required: true,
  },
});

const listItems: Ref<ListItemI[]> = toRef(props, 'items');

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.page-menu {
  padding: 4.9rem 0 0;
}
.page-menu > ul > li > span {
  display: block;
  padding: 0.625rem 0 0.469rem 0.938rem;
  background: #eaeaea;
  font-weight: 700;
  font-size: 0.938rem;
  color: #181818;
  letter-spacing: -0.055rem;
}

.menu-item > span {
  height: 4.219rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.469rem;
  border-bottom: 1px solid #979797;
  font-size: 1.094rem;
  letter-spacing: -0.064rem;
  color: #181818;
}

.arrow-icon {
  padding-right: 1.406rem;
  width: 41px;
}
</style>
