<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	Signature.vue
 *  Description:    윈너스 모바일 딜리버리 서명사인 컴포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="signature">
    <p>서명을 해주세요.</p>
    <div class="signature-form">
      <canvas id="signature-pad" ref="canvas"></canvas>
    </div>
    <div class="btn-area">
      <a rel="external" @click="clearSignature">서명 다시하기</a>
      <a rel="external" @click="startSignature">서명하기</a>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import SignaturePad from 'signature_pad';
import { Ref, ref } from 'vue';

// Variable Definitions
const canvas: Ref<HTMLCanvasElement | null> = ref(null);

const props = defineProps({
  // @ts-ignore
  signature: {
    type: null as unknown as SignaturePad | null,
    required: true,
  },
});

const emit = defineEmits(['update:signature']);

// Framework Function Definitions

// User Function Definitions
const startSignature = () => {
  if (canvas.value) {
    emit(
      'update:signature',
      new SignaturePad(canvas.value, { backgroundColor: 'rgb(255, 255, 255)' })
    );
  }
};

const clearSignature = async () => {
  props.signature.clear();
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.signature {
  margin-top: 1.031rem;
}

.signature p {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
}

.signature-form {
  margin-top: 0.688rem;
  border: 1px solid #a7a7a7;
  border-radius: 0.625rem 0.625rem 0 0;
  border-bottom: none;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.688rem auto 0;
  background-color: #f7f7f7;
  height: 10.438rem;
}

.signature-form canvas {
  border-radius: 0.625rem 0.625rem 0 0;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-color: #fff;
}

.btn-area {
  display: flex;
  justify-content: space-between;
}

.btn-area a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 2.813rem;
  font-weight: bold;
  letter-spacing: -0.059rem;
  color: #3d61e1;
}

.btn-area a:nth-child(1) {
  border: 1px solid #3d61e1;
  border-radius: 0 0 0 0.625rem;
}

.btn-area a:nth-child(2) {
  border: 1px solid #3d61e1;
  border-radius: 0 0 0.625rem 0;
  border-left: none;
}
</style>
