<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	ReqDateItemList.vue
 *  Description:    윈너스 모바일 딜리버리 AS 요청일 항목 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
    <div class="list" id="item-list">
        <ul
        v-for="(data, index) in driver_detail"
        :key="data.customer_nm"
        :style="{
            borderBottom:
            data.work_stat === WORK_STAT['99'] ? '1px solid #979797' : 'none',
        }"
        >
        <li>
            <dl>
                <dt id="item-list-pre-header">
                    <span>
                    {{ data.customer_nm }}
                    </span>
                    <div :style="{ backgroundColor: preHeaderBg(data.work_stat) }">
                    <span class="work-stat">
                        {{ data.work_stat }}
                    </span>
                    </div>
                </dt>
                <dd id="item-list-header">
                    <span>
                    시간지정 여부
                    <img
                        :src="data.dlv_time_from! > 0 ? '/assets/images/img-y.png' : '/assets/images/img-n.png'"
                        class="ny-icon"
                    />
                    </span>
                    <span>
                    해피콜 여부
                    <img
                        :src="
                        data.happy_call_yn === 'N'
                            ? '/assets/images/img-n.png'
                            : '/assets/images/img-y.png'
                        "
                        class="ny-icon"
                    />
                    </span>
                </dd>
                <dd id="item-list-body">
                    주문번호 : {{ data.dlv_etc5 }} <br />
                    설치유형 : {{ data.dlv_etc4 }} <br />
                    등록구분 : {{ data.dlv_ord_type }} <br />
                    상품명 : {{ data.product_nm }} <br />
                    <b>주소 : {{ data.addr }}</b> <br />
                    기사명 : {{ data.driver_nm }} <br />
                </dd>
                <div class="date-container">
                    <DataInputComp
                        style="width:100%; padding-right: 0.75rem;"
                        v-model:selected_date="selected_date"
                    />
                    <button id="delivery-search" @click="sendingFunction(index, $event)">저장</button>
                </div>
                <div class="btn-container">
                    <dd class="btn-area2">
                        <button
                            @click="protectRoute(index, 'AsManage', data.ord_id)"
                        >
                            해피콜
                        </button>
                        <button @click="sendMsg(index)">문자전송</button>
                    </dd>
                    <dd class="btn-area2">
                        <button
                            @click="protectRoute(index, 'AsDetailSearch', data.ord_id)"
                        >
                            상품조회
                        </button>
                        <button @click="protectRoute(index, 'SrhMemo', data.ord_id)">
                            인수증메모 조회
                        </button>
                    </dd>
                </div>
            </dl>
        </li>
        </ul>
    </div>
    <AlertComp
        v-if="isShow"
        :close-function="closeHandler"
        :message="errorMessage"
    />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType, ref, defineEmits } from 'vue';
import { useRouter } from 'vue-router';
import axios from 'axios';

import AlertComp from '@/components/ui/AlertComp.vue';
import DataInputComp from '@/components/ui/DateInputComp.vue'

import {
  SMS_MESSAGE1,
  SMS_MESSAGE2,
  SMS_MESSAGE3,
  SMS_MESSAGE4,
  SMS_MESSAGE5,
  SMS_MESSAGE6,
  SMS_MESSAGE7,
  SMS_MESSAGE8,
} from '@/constants';
import { AS_DELIVERY_SEND_MSG_DATA } from '@/constants';

import { AS_DELIVERY_CHANGE_REQ_DATE, HOST_URL, PROXY_URL } from '@/constants';
import { DetailI } from '@/types';
import { postApi } from '@/utils/api-hook';
import { checkPageWorkStat } from '@/utils/check-page-workstat';
import { formattedFromDate } from '@/utils/formatted-date';

// Variable Definitions
const router = useRouter();
const WORK_STAT = checkPageWorkStat();

const isShow = ref(false as boolean);
const errorMessage = ref('' as string);
const selected_date = ref(formattedFromDate(new Date()) as string);

const user_id = localStorage.getItem('id');
const password = localStorage.getItem('passwd');

const props = defineProps({
    driver_detail: {
        type: Array as PropType<DetailI[]>,
        default: () => [],
    },
});

const emit = defineEmits(['fetchDriver']);

// Framework Function Definitions

// User Function Definitions    
const closeHandler = () => {
    isShow.value = false;
    emit('fetchDriver');
};

const preHeaderBg = (work_stat: string) =>
work_stat === WORK_STAT['10']
    ? '#A566FF'
    : work_stat === WORK_STAT['20']
    ? '#4374D9'
    : work_stat === WORK_STAT['90']
    ? '#F15F5F'
    : '#1D8B15';

const sendingFunction = async (index: number, event: any) => {
    const send_data = [
        {
            user_id,
            ord_id: props.driver_detail[index].ord_id,
            phone_no: props.driver_detail[index].phone2,
            date: selected_date.value,
            memo: '',
            version: window.sessionStorage['version'],
        },
    ];

    try{
        const response = await postApi(
         //  HOST_URL + '/' + AS_DELIVERY_CHANGE_REQ_DATE,
         AS_DELIVERY_CHANGE_REQ_DATE,
            {
                login_id: user_id,
                password,
                work_list: send_data,
            },
            {
            'Content-Type': 'application/json; charset=utf-8',
            }
        );
        if (response.data.ERRCODE) {
            isShow.value = true;
            errorMessage.value = response.data.MSG;
            return;
        }

        if (response.data.SEND_DATA === 'SUCCESS') {
            isShow.value = true;
            errorMessage.value = '수정되었습니다.!!!';
        } else {
            isShow.value = true;
            errorMessage.value = '데이터 전송 실패 : ' + response.data.RETURN_MSG;
            return;
        }

    }catch(err: any){
        console.log('err = ', err)
        isShow.value = true;
        errorMessage.value = "프로그램에 오류가 발생하였습니다.";
    }
};

const sendMsg = async (index: number) => {
  const call_phone = props.driver_detail[index].phone2;
  const login_id = localStorage.getItem('id');
  const password = localStorage.getItem('passwd');
  const memo =
    props.driver_detail[index].customer_nm +
    SMS_MESSAGE1 +
    props.driver_detail[index].product_nm +
    SMS_MESSAGE2 +
    SMS_MESSAGE3 +
    SMS_MESSAGE4 +
    props.driver_detail[index].customer_nm +
    SMS_MESSAGE5 +
    props.driver_detail[index].addr +
    SMS_MESSAGE6 +
    SMS_MESSAGE7 +
    props.driver_detail[index].driver_nm +
    SMS_MESSAGE8 +
    props.driver_detail[index].driver_phone;

  const send_data = [
    {
      user_id: login_id,
      ord_id: props.driver_detail[index].ord_id,
      phone_no: '',
      serial_no: '',
      date: selected_date.value,
      memo: memo,
      time_area: '',
      version: window.sessionStorage['version'],
    },
  ];

  const response = await postApi(
    // HOST_URL + '/' + AS_DELIVERY_SEND_MSG_DATA,
    AS_DELIVERY_SEND_MSG_DATA,
    {
      login_id,
      password,
      work_list: send_data,
    },
    {
      'Content-Type': 'application/json; charset=utf-8',
    }
  );
  if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
  }

  window.location.href = `sms:${call_phone}?body=${memo}`;
}
const protectRoute = (index: number, name: string, ord_id: string) => {

    debugger;
    
    router.push({
        name,
        query: {
            ord_id,
        },
    });
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
    #item-list ul {
        margin-top: 29px;
    }

    #item-list-pre-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2.656rem;
        color: #fff;
        background-color: #080d2c;
        font-weight: bold;
        padding: 0 0.594rem 0 0.938rem;
        border: 1px solid #979797;
        border-bottom: none;
    }

    #item-list-pre-header > div {
        height: 1.781rem;
        border-radius: 0.906rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.344rem 0.563rem 0.375rem 0.594rem;
    }

    .work-stat {
        display: block;
        color: #fff;
        font-size: 0.875rem;
    }

    #item-list-header {
        height: 2.281rem;
        border: 1px solid #979797;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #item-list-header span {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        font-size: 0.75rem;
        letter-spacing: -0.044rem;
    }

    #item-list-body {
        background-color: #f7f7f7;
        font-size: 0.875rem;
        letter-spacing: -0.015rem;
        line-height: 1.406rem;
        padding: 0.75rem 0 1.281rem 0.844rem;
        color: #181818;
        border: 1px solid #979797;
        border-bottom: none;
    }

    .ny-icon {
        width: 1rem;
    }

    .date-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.75rem;
        border: 1px solid  #979797;
        border-bottom: none;
        position: relative;
    }

    .date-container button {
        width: 25%;
    }

    #delivery-search {
        width: 25%;
        height: 3.125rem;
        background-color: green;
        color: #fff;
        border-radius: 0.625rem;
    }

    .btn-container {
        border-bottom: 1px solid  #3d61e1;
    }

    .btn-area2 button {
        width: 50%;
        height: 2.813rem;
        background-color: #fff;
        border: 1px solid  #3d61e1;
        color: #3d61e1;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: -0.059rem;
    }

    .btn-area2 button:nth-child(1) {
        border-bottom: none;
        border-right: none;
    }

    .btn-area2 button:nth-child(2) {
        border-bottom: none;
    }

</style>
