<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	FooterComp.vue
 *  Description:    윈너스 모바일 딜리버리 Footer Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="footer" :class="{login: type === 'login'}">
    <p id="tel">Tel. 82+2-3669-7578</p>
    <p class="copyright">Copyright ⓒ 2023 ULOGISNET / Ver {{ version }}</p>
    <img src="" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { computed } from 'vue';

// Variable Definitions
const props = defineProps({
  type: {
    type: String,
  },
});

const version = computed(() => {
  if (window.sessionStorage['version']) {
    return window.sessionStorage['version'];
  }
  return '1.0.34';
});

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 3.438rem;
  background-color: #eaeaea;
  padding: 0.25rem 0 0.469rem 0;
  color: #181818;
}

.login {
  position: static;
  background-color: transparent;
  color: #fff;
  margin-top: 2rem;
}

#tel {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
  margin-top: 0.156rem;
}
.copyright {
  font-size: 0.875rem;
  margin-top: 0.094rem;
}

@media screen and (orientation: landscape) {
  .login {
    position: fixed;
    height: 4rem;
    padding: 0;
  }

  .login p {
    margin: 0;
  }

  .login img {
    position: fixed;
    bottom: -40px;
    left: 0;
    right: 0;
    content: url('/public/assets/images/img-login-delivery-bg.png');
  }
}
</style>
