<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	HeaderComp.vue
 *  Description:    윈너스 모바일 딜리버리 Footer Button Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <footer class="winus-footer">
    <div class="btn-area">
      <a
        @click="() => router.go(-1)"
        class="btn-prev"
        id="button_back"
        rel="external"
        :style="{
          width: type === '2btn' ? '50%' : type === '1btn' ? '100%' : '',
        }"
        >BACK</a
      >
      <a
        v-if="type === undefined"
        rel="external"
        id="save_input_data"
        @click="savedFunction"
        >임시저장</a
      >
      <a
        v-if="type !== '1btn'"
        rel="external"
        id="send_input_data"
        :style="{ width: type === '2btn' ? '50%' : '' }"
        @click="sendingFunction"
        >전송</a
      >
    </div>
  </footer>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { useRouter } from 'vue-router';

// Variable Definitions
const router = useRouter();

const props = defineProps({
  type: {
    type: String,
  },

  sending: {
    type: Boolean,
  },

  save: {
    type: Boolean,
  },

  sendingFunction: {
    type: Function as unknown as () => () => void,
  },

  savedFunction: {
    type: Function as unknown as () => () => void,
  },
});

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.btn-area {
  position: fixed;
  display: flex;
  height: 3.594rem;
  bottom: 0;
  left: 0;
  right: 0;
}

#button_back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ededed;
  color: #181818;
  font-weight: bold;
  letter-spacing: -0.059rem;
  flex: 1;
}
#save_input_data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f1424c;
  color: #fff;
  font-weight: bold;
  letter-spacing: -0.059rem;
  flex: 1;
}
#send_input_data {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #3d61e1;
  color: #fff;
  font-weight: bold;
  letter-spacing: -0.059rem;
}

/* #send_input_data .ui-disabled {
  background-color: #768dde;
} */
</style>
