<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	App.vue
 *  Description:    윈너스 모바일 딜리버리 메인 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <IonApp>
    <IonRouterOutlet />
  </IonApp>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { IonApp, IonRouterOutlet } from '@ionic/vue';

// Variable Definitions

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style>
body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
  /* display: none !important; */

  /* START 바코드 스캔시 컨텐트 내용들 숨기기 위한 설정 */
  .md.content-ltr {
    position: absolute;
    top:-10000px;
  }
  .winus-header,
  .btn-area {
    position: absolute;
  }
  /* END 바코드 스캔시 컨텐트 내용들 숨기기 위한 설정 */
}
</style>
