<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DetailItemList.vue
 *  Description:    윈너스 모바일 딜리버리 검섹 상섹내용 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="code" v-if="search_qry.length > 0">
    <dl v-for="(data, index) in search_qry" :key="index">
      <dt>상품코드 : {{ data.cust_cd }} / {{ data.cust_nm }}</dt>
      <dd>
        상품코드 : {{ data.ritem_cd }} <br />
        상품명 : {{ data.ritem_nm }} <br />
        가로세로높이 : {{ data.remark }} <br />
        UOM : {{ data.uom_nm }} <br />
        색상 : {{ data.prop_chk || '없음' }}<br />
        중량 : {{ data.ord_wright || '0' }} <br />
        img_url : {{ data.work_stat || '없음' }}<br />
      </dd>
      <dd v-if="data.work_stat">
        <img
          :src="data.work_stat ? `${HOST_URL}/${data.work_stat}` : ''"
          width="100%"
          height="300rem"
        />
      </dd>
    </dl>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType } from 'vue';

import { SearchQryI } from '@/types';
import { HOST_URL } from '@/constants';

// Variable Definitions
const props = defineProps({
  search_qry: {
    type: Array as PropType<SearchQryI[]>,
    default: () => [],
  },
});

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.code {
  margin-top: 0.938rem;
}

dt {
  height: 2.656rem;
  background-color: #080d2c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.938rem;
  padding-right: 0.594rem;
}

dt p:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.781rem;
  padding: 0.344rem 0.563rem 0.375rem;
  border-radius: 0.906rem;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: -0.052rem;
}

dd {
  background-color: #f7f7f7;
  border: 1px solid #979797;
  padding: 1rem 0.594rem 1.094rem 0.844rem;
  font-size: 0.875rem;
  line-height: 1.61;
  letter-spacing: -0.015rem;
  color: #181818;
}
</style>
