<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	AsSearchItemList.vue
 *  Description:    윈너스 모바일 딜리버리 AS 검색항목 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="list" id="item-list">
    <ul
      v-for="(data, index) in driver_detail"
      :key="data.customer_nm"
      :style="{
        borderBottom:
          data.work_stat === WORK_STAT['99'] ? '1px solid #979797' : 'none',
      }"
    >
      <li>
        <dl>
          <dt id="item-list-pre-header">
            <span>
              {{ data.customer_nm }}
            </span>
            <div :style="{ backgroundColor: preHeaderBg(data.work_stat) }">
              <span class="work-stat">
                {{ data.work_stat }}
              </span>
            </div>
          </dt>
          <dd id="item-list-header">
            <span>
              시간지정 여부
              <img
                :src="data.dlv_time_from! > 0 ? '/assets/images/img-y.png' : '/assets/images/img-n.png'"
                class="ny-icon"
              />
            </span>
            <span>
              해피콜 여부
              <img
                :src="
                  data.happy_call_yn === 'N'
                    ? '/assets/images/img-n.png'
                    : '/assets/images/img-y.png'
                "
                class="ny-icon"
              />
            </span>
          </dd>
          <dd id="item-list-body">
            설치유형 : {{ data.dlv_etc4 }} <br />
            등록구분 : {{ data.dlv_ord_type }} <br />
            상품명 : {{ data.product_nm }} <br />
            주소 : {{ data.addr }} <br />
            기사명 : {{ data.driver_nm }} <br />            
            송장번호 : {{ data.dlv_etc3 }} <br />
          </dd>
          <div class="btn-container" v-if="data.work_stat !== WORK_STAT['99']">
            <dd class="btn-area2">
              <button @click="protectRoute(index, 'AsManage', data.ord_id)">
                해피콜
              </button>
              <button @click="sendMsg(index)">문자전송</button>
            </dd>
            <dd class="btn-area2">
              <button @click="protectRoute(index, 'AsDateChange', data.ord_id)">
                AS 배송일 변경
              </button>
              <button
                :style="{
                  backgroundColor:
                    data.work_stat === WORK_STAT['10'] ? '#3d61e1' : '',
                  color:
                    data.work_stat === WORK_STAT['10'] ? 'white' : '#3d61e1',
                }"
                @click="protectRoute(index, 'AsStart', data.ord_id)"
              >
                AS 출발
              </button>
            </dd>
            <dd class="btn-area2">
              <button
                :style="{
                  backgroundColor:
                    data.work_stat === WORK_STAT['20'] ? '#3d61e1' : '',
                  color:
                    data.work_stat === WORK_STAT['20'] ? 'white' : '#3d61e1',
                }"
                @click="protectRoute(index, 'AsCompleteSerial', data.ord_id)"
              >
                AS 완료
              </button>
              <button @click="protectRoute(index, 'SrhMemo', data.ord_id)">
                인수증메모 조회
              </button>
            </dd>
            <dd class="btn-area2">
              <button
                :style="{
                  backgroundColor:
                    data.work_stat === WORK_STAT['20'] ? '#CC3D3D' : '',
                  color:
                    data.work_stat === WORK_STAT['20'] ? 'white' : '#3d61e1',
                }"
                @click="protectRoute(index, 'AsCancel', data.ord_id)"
              >
                취소요청
              </button>
              <button
                @click="protectRoute(index, 'AsDetailSearch', data.ord_id)"
              >
                상품조회
              </button>
            </dd>
          </div>
        </dl>
      </li>
    </ul>
  </div>
  <AlertComp
    v-if="isShow"
    :close-function="closeHandler"
    :message="errorMessage"
  />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType, ref } from 'vue';
import { useRouter } from 'vue-router';

import AlertComp from '@/components/ui/AlertComp.vue';

import {
  SMS_MESSAGE1,
  SMS_MESSAGE2,
  SMS_MESSAGE3,
  SMS_MESSAGE4,
  SMS_MESSAGE5,
  SMS_MESSAGE6,
  SMS_MESSAGE7,
  SMS_MESSAGE8,
} from '@/constants';
import { AS_DELIVERY_SEND_MSG_DATA, HOST_URL } from '@/constants';
import { DetailI } from '@/types';
import { postApi } from '@/utils/api-hook';
import { checkPageWorkStat } from '@/utils/check-page-workstat';
import { formattedFromDate } from '@/utils/formatted-date';

// Variable Definitions
const router = useRouter();
const WORK_STAT = checkPageWorkStat();

const isShow = ref(false as boolean);
const errorMessage = ref('' as string);
const selected_date = ref(formattedFromDate(new Date()) as string);

const props = defineProps({
  driver_detail: {
    type: Array as PropType<DetailI[]>,
    default: () => [],
  },
});

// Framework Function Definitions

// User Function Definitions
const closeHandler = () => {
  isShow.value = false;
};

const preHeaderBg = (work_stat: string) =>
  work_stat === WORK_STAT['10']
    ? '#A566FF'
    : work_stat === WORK_STAT['20']
    ? '#4374D9'
    : work_stat === WORK_STAT['90']
    ? '#F15F5F'
    : '#1D8B15';

const sendMsg = async (index: number) => {
  if (
    props.driver_detail[index].work_stat === WORK_STAT['80'] ||
    props.driver_detail[index].work_stat === WORK_STAT['89'] ||
    props.driver_detail[index].work_stat === WORK_STAT['87'] ||
    props.driver_detail[index].work_stat === WORK_STAT['30']
  ) {
    isShow.value = true;
    errorMessage.value = '접근 불가';
    return;
  }

  const call_phone = props.driver_detail[index].phone2;
  const login_id = localStorage.getItem('id');
  const password = localStorage.getItem('passwd');
  const memo =
    props.driver_detail[index].customer_nm +
    SMS_MESSAGE1 +
    props.driver_detail[index].product_nm +
    SMS_MESSAGE2 +
    SMS_MESSAGE3 +
    SMS_MESSAGE4 +
    props.driver_detail[index].customer_nm +
    SMS_MESSAGE5 +
    props.driver_detail[index].addr +
    SMS_MESSAGE6 +
    SMS_MESSAGE7 +
    props.driver_detail[index].driver_nm +
    SMS_MESSAGE8 +
    props.driver_detail[index].driver_phone;

  const send_data = [
    {
      user_id: login_id,
      ord_id: props.driver_detail[index].ord_id,
      phone_no: '',
      serial_no: '',
      date: selected_date.value,
      memo: memo,
      time_area: '',
      version: window.sessionStorage['version'],
    },
  ];

  const response = await postApi(
   // HOST_URL + '/' + AS_DELIVERY_SEND_MSG_DATA,
   AS_DELIVERY_SEND_MSG_DATA,
    {
      login_id,
      password,
      work_list: send_data,
    },
    {
      'Content-Type': 'application/json; charset=utf-8',
    }
  );
  if (response.data.ERRCODE) {
      isShow.value = true;
      errorMessage.value = response.data.MSG;
      return;
  }

  window.location.href = `sms:${call_phone}?body=${memo}`;
};

const protectRoute = (index: number, name: string, ord_id: string) => {
  // AS 보류
  if (
    props.driver_detail[index].work_stat === WORK_STAT['09'] &&
    (name === 'AsCompleteSerial' || name === 'AsDateChange')
  ) {
    isShow.value = true;
    errorMessage.value = 'AS보류상태에서 접근 불가';
    return;
  }

  // AS 대기
  if (
    props.driver_detail[index].work_stat === WORK_STAT['10'] &&
    name === 'AsCompleteSerial'
  ) {
    isShow.value = true;
    errorMessage.value = 'AS대기상태에서 접근 불가';
    return;
  }

  // AS 출발
  if (
    props.driver_detail[index].work_stat === WORK_STAT['20'] &&
    (name === 'AsStart' || name === 'AsDateChange')
  ) {
    isShow.value = true;
    errorMessage.value = 'AS출발상태에서 접근 불가';
    return;
  }

  // AS 거부
  if (
    props.driver_detail[index].work_stat === WORK_STAT['80'] &&
    (name === 'AsManage' ||
      name === 'AsDateChange' ||
      name === 'AsStart' ||
      name === 'AsCompleteSerial' ||
      name === 'AsCancel')
  ) {
    isShow.value = true;
    errorMessage.value = 'AS거부상태에서 접근 불가';
    return;
  }

  // 취소요청
  if (
    props.driver_detail[index].work_stat === WORK_STAT['89'] &&
    (name === 'AsManage' ||
      name === 'AsDateChange' ||
      name === 'AsStart' ||
      name === 'AsCompleteSerial' ||
      name === 'AsCancel' ||
      name === 'SrhMemo')
  ) {
    isShow.value = true;
    errorMessage.value = '취소요청상태에서 접근 불가';
    return;
  }

  // AS 불가
  if (
    props.driver_detail[index].work_stat === WORK_STAT['87'] &&
    (name === 'AsManage' ||
      name === 'AsDateChange' ||
      name === 'AsStart' ||
      name === 'AsCompleteSerial' ||
      name === 'AsCancel' ||
      name === 'SrhMemo')
  ) {
    isShow.value = true;
    errorMessage.value = 'AS불가상태에서 접근 불가';
    return;
  }

  // 현장취소
  if (
    props.driver_detail[index].work_stat === WORK_STAT['30'] &&
    (name === 'AsManage' ||
      name === 'AsDateChange' ||
      name === 'AsStart' ||
      name === 'AsCompleteSerial' ||
      name === 'AsCancel')
  ) {
    isShow.value = true;
    errorMessage.value = '현장취소상태에서 접근 불가';
    return;
  }

  router.push({
    name,
    query: {
      ord_id,
    },
  });
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
#item-list ul {
  margin-top: 29px;
}

#item-list-pre-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.656rem;
  color: #fff;
  background-color: #080d2c;
  font-weight: bold;
  padding: 0 0.594rem 0 0.938rem;
  border: 1px solid #979797;
  border-bottom: none;
}

#item-list-pre-header > div {
  height: 1.781rem;
  border-radius: 0.906rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.344rem 0.563rem 0.375rem 0.594rem;
}

.work-stat {
  display: block;
  color: #fff;
  font-size: 0.875rem;
}

#item-list-header {
  height: 2.281rem;
  border: 1px solid #979797;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#item-list-header span {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 0.75rem;
  letter-spacing: -0.044rem;
}

#item-list-body {
  background-color: #f7f7f7;
  font-size: 0.875rem;
  letter-spacing: -0.015rem;
  line-height: 1.406rem;
  padding: 0.75rem 0 1.281rem 0.844rem;
  color: #181818;
  border: 1px solid #979797;
  border-bottom: none;
}

.btn-container {
  border-bottom: 1px solid #3d61e1;
}

.btn-area2 button {
  width: 50%;
  height: 2.813rem;
  background-color: #fff;
  border: 1px solid #3d61e1;
  color: #3d61e1;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.059rem;
}

.btn-area2 button:nth-child(1) {
  border-bottom: none;
  border-right: none;
}

.btn-area2 button:nth-child(2) {
  border-bottom: none;
}

.ny-icon {
  width: 1rem;
}
</style>
