<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	AsSearchItemList.vue
 *  Description:    윈너스 모바일 딜리버리 AS 검색항목 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="list" id="item-list">
    <ul
      v-for="(data, index) in driver_detail"
      :key="data.customer_nm"
    >
      <li>
        <dl>
          <dt id="item-list-pre-header">
            <span>
              {{ data.customer_nm }}
            </span>          
            <div :style="{ backgroundColor: preHeaderBg2(data.dlv_etc1) }"  @click="protectRoute(index, 'RepairComplete', data.ord_id)">
              <span class="work-stat">
                {{ data.dlv_etc1 === 'Y' ? '발송완료' : '발송 전' }}
              </span>
            </div>           
          </dt>  
          <dd id="item-list-header">
            <span>
              {{ data.dlv_etc5 === 'ASREP' ? '제품교환' : '제품미교환' }}    
              <img
                :src="
                  data.dlv_etc5 === 'ASREP' ? '/assets/images/img-y.png' : '/assets/images/img-n.png'"
                class="ny-icon"
              />          
            </span>
            <span>
              발송여부
              <img
                :src="
                  data.dlv_etc1 === 'Y' ? '/assets/images/img-y.png' : '/assets/images/img-n.png'"
                class="ny-icon"
              />
            </span>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
  <AlertComp
    v-if="isShow"
    :close-function="closeHandler"
    :message="errorMessage"
  />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType, ref } from 'vue';
import { useRouter } from 'vue-router';

import AlertComp from '@/components/ui/AlertComp.vue';

import { DetailI } from '@/types';
import { postApi } from '@/utils/api-hook';
import { stringLiteral } from '@babel/types';

// Variable Definitions
const router = useRouter();

const isShow = ref(false as boolean);
const errorMessage = ref('' as string);

const props = defineProps({
  driver_detail: {
    type: Array as PropType<DetailI[]>,
    default: () => [],
  },
});

// Framework Function Definitions

// User Function Definitions
const closeHandler = () => {
  isShow.value = false;
};

const preHeaderBg2 = (dlv_etc1: string) =>
dlv_etc1 === 'Y' ? '#1D8B15' : '#000000'

const protectRoute = (index: number, name: string, ord_id: string) => {

 if (
    props.driver_detail[index].dlv_etc1 === 'Y' &&
    (name === 'RepairComplete')
  ) {
    isShow.value = true;
    errorMessage.value = '발송완료 상태에서 접근 불가';
    return;
  }

  router.push({
    name,
    query: {
      ord_id,
    },
  });
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
#item-list ul {
  margin-top: 29px;
}

#item-list-pre-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.556rem;
  color: rgb(0, 0, 0);
  background-color: #e2e2e2;
  font-weight: bold;
  padding: 0 0.594rem 0 0.938rem;
  border: 1px solid #979797;
  border-bottom: none;
  border-radius: 0.325rem;
  
}

#item-list-pre-header > div {
  height: 1.981rem;
  border-radius: 0.906rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.344rem 0.563rem 0.375rem 0.594rem;
}

.work-stat {
  display: block;
  color: #fff;
  font-size: 0.875rem;
}


#item-list-header {
  height: 1.881rem;
  border: 1px solid #979797;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #000000;
}

#item-list-header span {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 0.75rem;
  letter-spacing: -0.044rem;
}

#item-list-body {
  background-color: #f7f7f7;
  font-size: 0.875rem;
  letter-spacing: -0.015rem;
  line-height: 1.406rem;
  padding: 0.75rem 0 1.281rem 0.844rem;
  color: #181818;
  border: 1px solid #979797;
  border-bottom: none;
}

.btn-container {
  border-bottom: 1px solid #3d61e1;
}

.btn-area2 button {
  width: 50%;
  height: 2.813rem;
  background-color: #fff;
  border: 1px solid #3d61e1;
  color: #3d61e1;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.059rem;
}

.btn-area2 button:nth-child(1) {
  border-bottom: none;
  border-right: none;
}

.btn-area2 button:nth-child(2) {
  border-bottom: none;
}

.ny-icon {
  width: 1rem;
}
</style>
