<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	AlertComp.vue
 *  Description:    윈너스 모바일 딜리버리 Alert 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="dimmed">
    <div class="alert" :class="{ 'no-message': alertType === 'photo' }">
      <p v-if="alertType !== 'photo'">
        {{ message?.split('.')[0] }}
        <span v-if="message?.split('.')[1] !== ''">
          {{ message?.split('.')[1] }}
        </span>
      </p>
      <div v-if="alertType !== 'photo'" class="button-wrapper">
        <button
          class="cancel"
          v-if="alertType === 'confirm'"
          @click="closeFunction"
        >
          취소
        </button>
        <button
          :class="alertType === 'confirm' ? 'confirm' : 'confirm full'"
          @click="confirm"
        >
          확인
        </button>
      </div>
      <div v-else class="button-wrapper">
        <button
          class="take-pic"
          @click="takePictureFunction"
        >
          사진촬영
        </button>
        <button
          class="from-album"
          @click="fromPhotoAlbumFunction"
        >
          사진앨범
        </button>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { computed } from 'vue';

// Variable Definitions
const props = defineProps({
  message: String,

  closeFunction: {
    type: Function as unknown as () => () => void,
  },

  confirmFunction: {
    type: Function as unknown as () => () => void,
  },

  alertType: String,

  takePictureFunction: {
    type: Function as unknown as () => () => void,
  },

  fromPhotoAlbumFunction: {
    type: Function as unknown as () => () => void,
  }
});

// Framework Function Definitions
const confirm = computed(() =>
  props.alertType === 'confirm' ? props.confirmFunction : props.closeFunction
);

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.dimmed {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.alert {
  background: #fff;
  width: 21.625rem;
  height: 10.438rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.25rem;
  padding-top: 2.719rem;
  padding: 1.819rem 1.438rem 0;
}

.alert.no-message {
  height: 8.5rem;
}

p {
  font-size: 1.063rem;
  letter-spacing: -0.063rem;
  color: #181818;
  font-weight: bold;
  text-align: center;
  height: 3.313rem;
}

.button-wrapper {
  display: flex;
  margin-top: 1.031rem;
  gap: 1.344rem;
  letter-spacing: -0.059rem;
  font-weight: bold;
}

.cancel, .take-pic {
  width: 9.375rem;
  border-radius: 0.469rem;
  background-color: #ededed;
  color: #181818;
  height: 3.125rem;
}

.confirm, .from-album {
  width: 9.375rem;
  background-color: #3d61e1;
  height: 3.125rem;
  color: #fff;
  border-radius: 0.469rem;
}

.confirm.full {
  width: 100%;
}
</style>
