<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	BarcodeComp.vue
 *  Description:    윈너스 모바일 딜리버리 바코드 읽는 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div v-if="!scanning" class="barcode">
    <label v-if="!no_label">바코드를 인식하세요.</label>
    <p>
      <input
        type="text"
        name="serial_number"
        id="serial_number"
        :class="{invalid : start_serial_no && serial_no && (start_serial_no != serial_no), disabled: read_only }"
        ref="serial_no_ref"
        v-model="serial_no"
        @input="onChange($event)"
      />
      <span class="scan-button" :class="{'disabled': read_only}">
        <img
          src="/assets/images/btn-barcode.png" 
          id="scan_barcode" 
          @click="barcodeScan"
        />
      </span>
    </p>
  </div>
  <!-- 바코드 스캔시 취소버튼과 카메라 가이드라인을 위한 항목 -->
  <div v-else class="cancel">
    <div class="guideline top"></div>
    <div class="guideline bottom"></div>
    <button @click="stopBarcodeScan">CANCEL</button>
  </div>

</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, Ref, watch, onMounted } from 'vue';
import { useBackButton } from '@ionic/vue';
import { Camera, CameraResultType } from '@capacitor/camera';
import { BarcodeScanner } from '@capacitor-community/barcode-scanner';

// Variable Definitions
const props = defineProps({
  read_only: {type: Boolean},
  start_serial_no: {type: String},
  serial_no: {type: String},
  no_label: {type: Boolean}
});
const emit = defineEmits(['serial_no']);
const scanning = ref(false as boolean);
const read_only = ref(props.read_only as boolean);
const serial_no = ref(props.serial_no as string|undefined);
const start_serial_no = ref(props.start_serial_no as string|undefined);
const no_label = ref(props.no_label as boolean);
const serial_no_ref: Ref<HTMLInputElement | null> = ref(null);

// Framework Function Definitions

// User Function Definitions

watch(
  () => props.start_serial_no, 
  (curr, prev) => {
    start_serial_no.value = curr;
  }
);

const barcodeScan = async () => {
  scanning.value = true;
  const scannerTag = document.querySelector('body');

  if (scannerTag) {
    scannerTag.classList.add('scanner-active');

    useBackButton(10, () => {
      stopBarcodeScan();
      return;
    });
  }

  await BarcodeScanner.checkPermission({ force: true });

  BarcodeScanner.hideBackground();

  const result = await BarcodeScanner.startScan();

  if (result.hasContent) {
    serial_no.value = result.content;
    emit('serial_no', serial_no.value);
    scanning.value = false;
    document.querySelector('body')?.classList.remove('scanner-active');
  }
};
const stopBarcodeScan = () => {
  document.querySelector('body')?.classList.remove('scanner-active');
  scanning.value = false;

  BarcodeScanner.showBackground();
  BarcodeScanner.stopScan();
};

const onChange = (event: any) => {
  emit('serial_no', event.target.value);
};

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.barcode {
  outline: none;
}

.barcode > label {
  display: block;
  font-weight: bold;
  font-size: 0.938rem;
  letter-spacing: -0.055rem;
  margin-top: 1.594rem;
}
.barcode > p {
  display: flex;
  align-items: center;
  margin-top: 0.688rem;
  justify-content: space-between;
}

.barcode input {
  width: 71%;
  height: 3.125rem;
  border-radius: 0.625rem;
  border: 1px solid #737373;
  padding-left: 0.75rem;
  letter-spacing: -0.059rem;
  background-color: #fff;
  outline: none;  
}

.invalid {
    color: red;
    font-weight: bold;
}

.barcode span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080d2c;
  width: 25%;
  height: 3.125rem;
  border-radius: 0.625rem;
}

.barcode img {
  width: 1.844rem;
}
.cancel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}
.cancel .guideline {
  position: absolute;
  left: 0;
  right: 0;
  height: 33%;
  background: black;
}
.cancel .guideline.top {
  top: 0;
}
.cancel .guideline.bottom {
  bottom: 0;
}
.cancel button {
  position: fixed;
  bottom:0;
  left:0;
  right: 0;
  height: 3.594rem;
  width: 100%;
  background: #3d61e1;
  font-weight: bold;
  color: #fff;
  font-size: 1.188rem;
  display: flex;
  align-items: center;
  justify-content:center;
  z-index: 1;
}
@media screen and (orientation: landscape) {
  .cancel .guideline {
    top: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
  }
  .cancel .guideline.top {
    left: 0;
    right: auto;
  }
  .cancel .guideline.bottom {
    right: 0;
    left: auto;
  }
}
</style>
