<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	CameraComp.vue
 *  Description:    윈너스 모바일 딜리버리 카메라 읽는 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="picture">
    <label v-if="title">{{ title }}</label>
    <div class="camera">
      <ul>
        <li v-for="(data, index) in camera" :key="index">
          <p class="title">{{ data }}</p>
          <p class="image" :class="{ borderNone: imageElement[index] }">
            <img
              :src="imageElement[index] || '/assets/images/btn-photo.png'"
              :class="{ takeImage: imageElement[index] }"
              @click="takePicture(index)"
            />
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType } from 'vue';

// Variable Definitions
const props = defineProps({
  camera: {
    type: Array as PropType<string[]>,
    required: true,
  },

  imageElement: {
    type: Array as PropType<string[]>,
    required: true,
  },

  takePicture: {
    type: Function,
    required: true,
  },

  title: {
    type: String,
  },
});

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.picture {
  margin-top: 1.594rem;
  width: 100%;
  color: #3d61e1;
  font-size: 0.844rem;
  letter-spacing: -0.05rem;
  font-weight: bold;
}
.picture label {
  font-weight: bold;
  font-size: 0.938rem;
  letter-spacing: -0.055rem;
  color: #181818;
}

.camera {
  border: 1px solid #a7a7a7;
  border-radius: 0.625rem;
  padding: 0 0.938rem 1.125rem 0.938rem;
  margin-top: 0.688rem;
}

.camera ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.camera li {
  width: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin-top: 0.875rem;
}

.image {
  width: 5.469rem;
  height: 5.469rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3d61e1;
  border-radius: 0.625rem;
  margin-top: 0.656rem;
}

.image img {
  width: 2.063rem;
  background-size: contain;
}

.borderNone {
  border: none;
}

.takeImage {
  height: 100% !important;
  width: 100% !important;
  border-radius: 0.625rem;
}
</style>
