<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	DateImput.vue
 *  Description:    윈너스 모바일 딜리버리 날짜입력 콤포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
    <div>
        <div class="date-inner" @click="showCalendar">
            <input
            type="text"
            id="select_date"
            readonly
            :value="selected_date"
            />
            <img
            src="/assets/images/btn-calendar.png"
            alt="date-icon"
            class="date-icon"
            />
        </div>
        <div class="date">
            <DatePicker
                v-if="isShowCalendar"
                id="date-picker"
                :hideCalendar="hideCalendar"
                :selectDate="selectDate"
            />
        </div>
    </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">

import { ref, defineEmits } from 'vue';
import DatePicker from '@/components/DatePicker.vue';
import { formattedFromDate } from '@/utils/formatted-date';

// Variable Definitions
const isShowCalendar = ref(false as boolean);
const selected_date = ref(formattedFromDate(new Date()) as string);
const emit = defineEmits(['update:selected_date']);

// Framework Function Definitions

// User Function Definitions
const showCalendar = () => {
    isShowCalendar.value = true;
};

const hideCalendar = () => {
    isShowCalendar.value = false;
};

const selectDate = (date: string) => {
    selected_date.value = date;
    emit('update:selected_date', selected_date.value);
};

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
    .date-inner {
        position: relative;
        display: flex;
        width: 100%;
    }

    .date {
        position: absolute;
        top: 2.5rem;
        z-index: 1000;
        width: 100%;
    }

    #date-picker {
        position: sticky;
        /* transform: translateX(50%), translateY(-50%); */
    }

    #select_date {
        background: #fff;
        width: 100%;
        display: block;
        height: 3.125rem;
        border-radius: 0.625rem;
        padding-left: 0.75rem;
        border: 1px solid #a7a7a7;
    }

    .date-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.813rem;
        width: 1.563rem;
    }

</style>