<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	RequestDelivery.vue
 *  Description:    윈너스 모바일 딜리버리 배송요청 컴포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <p class="date">
    <label><strong>배송예정일</strong></label>
    <input type="text" readonly :value="selected_date" />
  </p>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">

// Variable Definitions
const props = defineProps({
  selected_date: String,
});

// Framework Function Definitions

// User Function Definitions

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.date {
  margin-top: 1.156rem;
}
.date label {
  display: block;
  font-weight: bold;
  letter-spacing: -0.055rem;
  color: #181818;
  font-size: 0.938rem;
}

.date input {
  width: 100%;
  height: 3.125rem;
  border: none;
  border-radius: 0.625rem;
  background-color: #e2e2e2;
  padding-left: 0.75rem;
  letter-spacing: -0.055rem;
  margin-top: 0.688rem;
  font-weight: bold;
}
</style>
