<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	SelectComp.vue
 *  Description:    윈너스 모바일 딜리버리 Select Box 컴포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="install-option">
    <p>{{ title }}</p>
    <div>
      <select :value="setValue" @change="changeValue($event)">
        <option v-for="opt in selectArray" :key="opt.value" :value="opt.value">
          {{ opt.title }}
        </option>
      </select>
      <span>▼</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { PropType } from 'vue';

import { SelectTypeI } from '@/types';

// Variable Definitions
const props = defineProps({
  title: {
    type: String,
  },
  selectArray: {
    type: Array as PropType<SelectTypeI[]>,
  },
  setValue: {
    type: String,
  },
});

const emit = defineEmits(['update:setValue']);

// Framework Function Definitions

// User Function Definitions
const changeValue = (event: Event) => {
  const target = event.target as HTMLSelectElement;

  emit('update:setValue', target.value);
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.install-option {
  margin-top: 1.031rem;
}

.install-option p {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
}

.install-option select {
  width: 100%;
  background: none;
  border: 1px solid #a7a7a7;
  height: 3.125rem;
  border-radius: 0.625rem;
  padding-left: 0.75rem;
  letter-spacing: -0.059rem;
  margin-top: 0.625rem;
}

.install-option div {
  position: relative;
}
.install-option span {
  position: absolute;
  right: 0.844rem;
  top: 55%;
  transform: translateY(-50%);
}
</style>
