<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TextAreaComp.vue
 *  Description:    윈너스 모바일 딜리버리 Text Area 컴포넌트 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.06. : Created by J. I. Cho
 *                  2023.09. : Refactoring by Y.S. Jung
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="input-container">
    <p>{{ title }}</p>
    <textarea
      v-if="!type"
      :value="textData"
      @input="changeText($event)"
    ></textarea>
    <input v-else :type="type" :value="textData" @input="changeText($event)" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">

// Variable Definitions

const props = defineProps({
  title: {
    type: String,
  },

  textData: {
    type: String,
  },

  type: {
    type: String,
  },
});

const emit = defineEmits(['update:textData']);

// Framework Function Definitions

// User Function Definitions
const changeText = (event: Event) => {
  const target = event.target as HTMLTextAreaElement;

  emit('update:textData', target.value);
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.input-container {
  margin-top: 1.031rem;
}
.input-container p {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: -0.055rem;
}

.input-container textarea,
input {
  width: 100%;
  background: #fff;
  margin-top: 0.625rem;
  border: 1px solid #a7a7a7;
  height: 3.125rem;
  border-radius: 0.625rem;
  padding-left: 0.75rem;
}
</style>
